<div id="antbits-bmi-main">
    <h2 id="antbits-bmi-head">BMI calculator</h2>
    <div id="antbits-bmi-inner">
        <div id="antbits-bmi-form" class="antbits-bmi-page" aria-hidden="false">
            <!-- <p class="antbits-bmi-form-advice">{{eating_disorder.copy}}</p> -->
            <div id="antbits-bmi-tabgroup"><button class="antbits-bmi-tab_selected" tabindex="-1">Adult</button><button>Child</button></div>
            <div id="antbits-bmi-validate"> <span></span>
                <p> Please enter the following information:</p>
                <div></div>
            </div>
            <div class="antbits-bmi-form_section" id="antbits-bmi-form_height">
                <div class="antbits-bmi-form_section_title">Height</div>
                <div class="antbits-bmi-form_invalid">
                    <div></div>
                    <span id="antbits-bmi-form_height-error">Please enter height</span></div>
                <div class="antbits-bmi-form_section_layer antbits-bmi-imperial">
                    <button class="antbits-bmi-form_section_units">Switch to cm</button>
                    <div>
                        <label for="antbits-bmi-ft" class="antbits-bmi-form_section_label">Feet</label>
                        <input id="antbits-bmi-ft" aria-describedby="antbits-bmi-form_height-error" alt="height, feet" inputmode="numeric" type="text" min="0" maxlength="2" />
                    </div>
                    <div>
                        <label for="antbits-bmi-in" class="antbits-bmi-form_section_label">Inches</label>
                        <input id="antbits-bmi-in" aria-describedby="antbits-bmi-form_height-error" alt="height, inches" inputmode="numeric" type="text" min="0" maxlength="2" />
                    </div>
                </div>
                <div class="antbits-bmi-form_section_layer antbits-bmi-hidden antbits-bmi-metric">
                    <button class="antbits-bmi-form_section_units">Switch to ft, in</button>
                    <div>
                        <label for="antbits-bmi-cm" class="antbits-bmi-form_section_label">Centimetres</label>
                        <input id="antbits-bmi-cm" aria-describedby="antbits-bmi-form_height-error" alt="height, centimeters" type="number" step="0.1" min="0" maxlength="5" />
                    </div>
                </div>
            </div>
            <div class="antbits-bmi-form_section" id="antbits-bmi-form_weight">
                <div class="antbits-bmi-form_section_title">Weight</div>
                <div class="antbits-bmi-form_invalid">
                    <div></div>
                    <span id="antbits-bmi-form_weight-error">Please enter weight</span></div>
                <div class="antbits-bmi-form_section_layer antbits-bmi-imperial">
                    <button class="antbits-bmi-form_section_units">Switch to kg</button>
                    <div>
                        <label for="antbits-bmi-st" class="antbits-bmi-form_section_label">Stone</label>
                        <input id="antbits-bmi-st" aria-describedby="antbits-bmi-form_weight-error" alt="weight, stone" type="text" inputmode="numeric" min="0" maxlength="2" />
                    </div>
                    <div>
                        <label for="antbits-bmi-lb" class="antbits-bmi-form_section_label">Pounds</label>
                        <input id="antbits-bmi-lb" aria-describedby="antbits-bmi-form_weight-error" alt="weight, pounds" type="text" inputmode="numeric" min="0" maxlength="2" />
                    </div>
                </div>
                <div class="antbits-bmi-form_section_layer antbits-bmi-hidden antbits-bmi-metric">
                    <button class="antbits-bmi-form_section_units">Switch to st, lb</button>
                    <div>
                        <label for="antbits-bmi-kg" class="antbits-bmi-form_section_label">Kilograms</label>
                        <input id="antbits-bmi-kg" aria-describedby="antbits-bmi-form_weight-error" alt="weight, kilograms" type="number" step="0.1" min="0" maxlength="5" />
                    </div>
                </div>
            </div>
            <div class="antbits-bmi-form_section antbits-bmi-exclude_child" id="antbits-bmi-form_age">
                <div class="antbits-bmi-form_section_title">Age</div>
                <div class="antbits-bmi-form_invalid">
                    <div></div>
                    <span id="antbits-bmi-form_age-error">Please enter age</span></div>
                <div class="antbits-bmi-form_section_inner">
                    <div>
                        <label for="antbits-bmi-age" class="antbits-bmi-form_section_label antbits-accessible_hidden">Age in years</label>
                        <input id="antbits-bmi-age" aria-describedby="antbits-bmi-form_age-error" alt="age in years" type="text" inputmode="numeric" min="0" maxlength="3" />
                    </div>
                </div>
            </div>
            <div class="antbits-bmi-form_section antbits-bmi-exclude_adult" id="antbits-bmi-form_dob">
                <div class="antbits-bmi-form_section_title">Date of birth</div>
                <div class="antbits-bmi-section_alert"></div>
                <div class="antbits-bmi-form_invalid">
                    <div></div>
                    <span>Please enter date of birth</span></div>
                <p class="antbits-bmi-exclude_adult">Child BMI is age specific</p>
                <p class="antbits-bmi-exclude_adult antbits-bmi-hint">For example, 15 11 2012</p>
                <div class="antbits-bmi-form_section_inner">
                    <div>
                        <label class="antbits-bmi-form_section_label" for="antbits-bmi-dob_day">Day</label>
                        <input id="antbits-bmi-dob_day" aria-describedby="antbits-bmi-form_age-error" alt="Date of birth, day" type="text" inputmode="numeric" min="0" maxlength="2" />
                    </div>
                    <div>
                        <label class="antbits-bmi-form_section_label" for="antbits-bmi-dob_month">Month</label>
                        <input id="antbits-bmi-dob_month" aria-describedby="antbits-bmi-form_age-error" alt="Date of birth, month" type="text" inputmode="numeric" min="0" maxlength="2" />
                    </div>
                    <div>
                        <label class="antbits-bmi-form_section_label" for="antbits-bmi-dob_year">Year</label>
                        <input id="antbits-bmi-dob_year" aria-describedby="antbits-bmi-form_age-error" alt="Date of birth, year" type="text" inputmode="numeric" min="0" maxlength="4" />
                    </div>
                </div>
            </div>
            <div class="antbits-bmi-form_section" id="antbits-bmi-form_gender">
                <div class="antbits-bmi-section_alert"></div>
                <div class="antbits-bmi-form_section_title">Sex</div>
                <div class="antbits-bmi-form_invalid">
                    <div></div>
                    <span>Please enter sex</span></div>
                <details>
                    <summary> <span class="details_summary-text">{{gender.label}}</span> </summary>
                    <div>
                        <div>{{gender.copy}}</div>
                    </div>
                </details>
                <div class="antbits-bmi-spacer antbits-bmi-exclude_child"></div>
                <div class="antbits-bmi-form_section_inner">
                    <fieldset class="fieldset">
                        <legend class="fieldset_legend fieldset_legend--l">
                            <h3 class="fieldset_heading">Sex</h3>
                        </legend>
                        <div class="radios">
                            <div class="radios_item">
                                <input id="gender-1" name="gender" type="radio" value="1">
                                <label for="gender-1">Male</label>
                            </div>
                            <div class="radios_item">
                                <input id="gender-0" name="gender" type="radio" value="0">
                                <label for="gender-0">Female</label>
                            </div>
                        </div>
                    </fieldset>
                </div>
            </div>
            <div class="antbits-bmi-form_section antbits-bmi-exclude_child" id="antbits-bmi-form_ethnicity">
                <div class="antbits-bmi-section_alert"></div>
                <div class="antbits-bmi-form_section_title">Ethnic group (optional)</div>
                <details>
                    <summary> <span class="details_summary-text">{{ethnic_group.label}}</span> </summary>
                    <div>
                        <div>{{ethnic_group.copy}}</div>
                    </div>
                </details>
                <div class="antbits-bmi-spacer antbits-bmi-exclude_child"></div>
                <fieldset class="fieldset">
                    <legend class="fieldset_legend fieldset_legend--l">
                        <h3 class="fieldset_heading">Ethnic group (optional)</h3>
                    </legend>
                    <div class="radios">
                        <div class="radios_item">
                            <input id="ethnicity-7" name="ethnicity" type="radio" value="7">
                            <label for="ethnicity-7">Bangladeshi</label>
                        </div>
                        <div class="radios_item">
                            <input id="ethnicity-4" name="ethnicity" type="radio" value="4">
                            <label for="ethnicity-4">Black African</label>
                        </div>
                        <div class="radios_item">
                            <input id="ethnicity-3" name="ethnicity" type="radio" value="3">
                            <label for="ethnicity-3">Black Caribbean</label>
                        </div>
                        <div class="radios_item">
                            <input id="ethnicity-8" name="ethnicity" type="radio" value="8">
                            <label for="ethnicity-8">Chinese</label>
                        </div>
                        <div class="radios_item">
                            <input id="ethnicity-5" name="ethnicity" type="radio" value="5">
                            <label for="ethnicity-5">Indian</label>
                        </div>
                        <div class="radios_item">
                            <input id="ethnicity-9" name="ethnicity" type="radio" value="9">
                            <label for="ethnicity-9">Middle Eastern</label>
                        </div>
                        <div class="radios_item">
                            <input id="ethnicity-10" name="ethnicity" type="radio" value="10">
                            <label for="ethnicity-10">Mixed</label>
                        </div>
                        <div class="radios_item">
                            <input id="ethnicity-6" name="ethnicity" type="radio" value="6">
                            <label for="ethnicity-6">Pakistani</label>
                        </div>
                        <div class="radios_item">
                            <input id="ethnicity-2" name="ethnicity" type="radio" value="2">
                            <label for="ethnicity-2">White</label>
                        </div>
                        <div class="radios_item">
                            <input id="ethnicity-11" name="ethnicity" type="radio" value="11">
                            <label for="ethnicity-11">Other</label>
                        </div>
                    </div>
                </fieldset>
            </div>
            <div class="antbits-bmi-form_section antbits-bmi-exclude_adult" id="antbits-bmi-form_dom_select">
                <div class="antbits-bmi-section_alert"></div>
                <div class="antbits-bmi-form_section_title">Measurement date</div>
                <details>
                    <summary> <span class="details_summary-text">{{measurement_date.label}}</span> </summary>
                    <div>
                        <div>{{measurement_date.copy}}</div>
                    </div>
                </details>
                <div class="antbits-bmi-spacer antbits-bmi-exclude_child"></div>
                <div class="antbits-bmi-form_section_inner">
                    <fieldset class="fieldset">
                        <legend class="fieldset_legend fieldset_legend--l">
                            <h3 class="fieldset_heading">Measurement date</h3>
                        </legend>
                        <div class="radios">
                            <div class="radios_item">
                                <input id="dom_select-today" name="dom_select" type="radio" checked="checked" value="today">
                                <label for="dom_select-today">Today</label>
                            </div>
                            <div class="radios_item">
                                <input id="dom_select-not_today" name="dom_select" type="radio" value="not_today">
                                <label for="dom_select-not_today">Not today</label>
                            </div>
                        </div>
                    </fieldset>
                </div>
            </div>
            <div class="antbits-bmi-form_section antbits-bmi-exclude_adult antbits-bmi-closed" id="antbits-bmi-form_dom" aria-hidden="true">
                <div class="antbits-bmi-form_section_title">Date of measurement</div>
                <div class="antbits-bmi-section_alert"></div>
                <div class="antbits-bmi-form_invalid">
                    <div></div>
                    <span></span></div>
                <div class="antbits-bmi-form_section_inner">
                    <div>
                        <label class="antbits-bmi-form_section_label" for="antbits-bmi-dom_day">Day</label>
                        <input id="antbits-bmi-dom_day" aria-describedby="antbits-bmi-form_age-error" alt="Date of measurement, day" type="text" min="0" maxlength="2" />
                    </div>
                    <div>
                        <label class="antbits-bmi-form_section_label" for="antbits-bmi-dom_month">Month</label>
                        <input id="antbits-bmi-dom_month" aria-describedby="antbits-bmi-form_age-error" alt="Date of measurement, month" type="text" min="0" maxlength="2" />
                    </div>
                    <div>
                        <label class="antbits-bmi-form_section_label" for="antbits-bmi-dom_year">Year</label>
                        <input id="antbits-bmi-dom_year" aria-describedby="antbits-bmi-form_age-error" alt="Date of measurement, year" type="text" min="0" maxlength="4" />
                    </div>
                </div>
            </div>
            <details class="antbits-bmi-disclaimer-section">
                <summary>
                    <span class="details_summary-text">{{disclaimer.label}}</span>
                </summary>
                <div>
                    <div>{{disclaimer.copy}}</div>
                </div>
            </details>
            <button class="antbits-bmi-std_btn" id="antbits-bmi-calc_btn">Calculate</button>
            <button id="antbits-bmi-reset_btn">Reset</button>
        </div>
        <div id="antbits-bmi-results" aria-hidden="true" class="antbits-bmi-page">
            <button id="antbits-bmi-back_btn" tabindex="-1">Back</button>
            <div id="antbits-bmi-results_head" role="alert">
                <div class="antbits-bmi-exclude_adult">
                    <div class="antbits-bmi-result_header_1"></div>
                    <div class="antbits-bmi-result_header_2"></div>
                </div>
                <div class="antbits-bmi-exclude_child">
                    <div class="antbits-bmi-result_header_1"></div>
                    <div class="antbits-bmi-result_header_2"></div>
                </div>
            </div>
            <div id="antbits-bmi-results_bar">
                <div id="antbits-bmi-results_bar_pointer" aria-hidden="true"> </div>
                <div id="antbits-bmi-results_bar_bg" aria-hidden="true"> </div>
                <div id="antbits-bmi-results_bar_labels" aria-hidden="true"> </div>
                <div id="antbits-bmi-results_bar_caption"> </div>
            </div>
            <div id="antbits-bmi-results_info">

            </div>
            <details id="antbits-bmi-results_what">
                <summary tabindex="-1"><span></span></summary>
                <div></div>
            </details>
            <!-- <div id="antbits-bmi-results_content_title">What next?</div>
            <div id="antbits-bmi-results_content"></div> -->
        </div>
        <div id="antbits-bmi-preload"></div>
    </div>
</div>