{% extends 'base.html' %}

{% block content %}
    <!-- Logic for BN_OCR view -->
    {% if request.resolver_match.view_name == 'BN_OCR' %}
    <div class="container">
        <h1>বাংলায় আপনার ছবির পাঠ্য রূপান্তর করুন</h1>
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div>
                    {% if image_url %}
                    <img src="{{ image_url }}" class="card-img-top" alt="Image">
                    {% else %}
    
    
    
    
                    <div class="card-body text-center">
    
                        
                    </div>
    
    
    
    
                    {% endif %}
                    <div class="card-body text-center">
                        <form action="" method="POST" enctype="multipart/form-data">
                            {% csrf_token %}
                            {{ form.as_p }}
                            <button type="submit" class="btn btn-primary">Add</button>
                        </form>
                    </div>
                </div>
                
                <div>
                    <div class="card-body">
                        {% if text %}
                        <p class="text-center">{{ text }}</p>
    
    
                        {% else %}
    
    
                        <div class="card-body text-center">
    
                            
    
                        
                        </div>
        
    
    
                        {% endif %}
    
    
                    </div>
                </div>
                
                <div class="card">
                    <div>
                        {% if file_path %}
                        <div class="text-center mb-3">
                            <p>{{ file_path }}</p>
                        </div>
        
                        <div class="text-center">
                            <a href="{% url 'download_text' file_path %}" class="btn btn-warning btn-lg">Download Text File</a>
                        </div>
                        
                        {% else %}
    
    
    
    
                        <div class="card-body text-center">
    
                        
                        </div>
        
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% endif %}    
    <!-- Logic for ENG_OCR view -->
    {% if request.resolver_match.view_name == 'ENG_OCR' %}
    <div class="container">
        <h1>CONVERT YOUR Photo text in BANGLA</h1>
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div>
                    {% if image_url %}
                    <img src="{{ image_url }}" class="card-img-top" alt="Image">
                    {% else %}
    
    
    
    
                    <div class="card-body text-center">
    
                        
                    </div>
    
    
    
    
                    {% endif %}
                    <div class="card-body text-center">
                        <form action="" method="POST" enctype="multipart/form-data">
                            {% csrf_token %}
                            {{ form.as_p }}
                            <button type="submit" class="btn btn-primary">Add</button>
                        </form>
                    </div>
                </div>
                
                <div>
                    <div class="card-body">
                        {% if text %}
                        <p class="text-center">{{ text }}</p>
    
    
                        {% else %}
    
    
                        <div class="card-body text-center">
    
                            
    
                        
                        </div>
        
    
    
                        {% endif %}
    
    
                    </div>
                </div>
                
                <div class="card">
                    <div>
                        {% if file_path %}
                        <div class="text-center mb-3">
                            <p>{{ file_path }}</p>
                        </div>
        
                        <div class="text-center">
                            <a href="{% url 'download_text' file_path %}" class="btn btn-warning btn-lg">Download Text File</a>
                        </div>
                        
                        {% else %}
    
    
    
    
                        <div class="card-body text-center">
    
                        
                        </div>
        
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% endif %}


{% endblock %}
