{% load about_me %}
{% include 'base.html' %}
{% block content %}
{% load custom_filters %}
{% include "MED_nav.html" %}
<html data-bs-theme="light">

<head>
    <link rel="stylesheet" href="{% about_me 'css/pricing_tables.css' %}">
    <link rel="stylesheet" href="{% about_me 'bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% about_me 'fonts/ionicons.min.css' %}">

    <style>
      .main-content {
          margin-left: 7.5rem; /* Adjust this value to match the width of your first div */
      }
  </style>
</head>

<body>
  <div class="page cv-page main-content">
    <main class="page hire-me-page">
    <div class="price-card">
      <h2>PROVIDE THE BRAND NAME OF ANY BANGLADESHI DRUG TO DET DETAILS </h2>
      <form class="border rounded border-0 shadow-lg p-3 p-md-5" data-bs-theme="light" method="POST" onsubmit="handleFormSubmit(event)">
        {% csrf_token %}

        <div class="mb-3">
          <div class="mb-3">
            <label class="form-label" for="name">NAME OF THE DRUG</label>
            <input class="form-control" type="text" id="name" name="name" value="" required oninput="showWordRecommendations()">
        </div>          
          
          <div id="wordRecommendations"></div>
        </div>
        
        
        <p id="selectedStrength"></p>
        <div id="get_medicine_details"></div>
        <!-- Add a dropdown menu for sorting -->
        
        <script>
          var timeout; // Global variable to store timeout reference
        
          function showWordRecommendations() {
            clearTimeout(timeout); // Clear previous timeout, if any
        
            // Set a new timeout to fetch word recommendations after a brief delay (e.g., 300ms)
            timeout = setTimeout(function() {
              var input = document.getElementById("name").value.trim();
        
              // Check if there is any input
              if (input.length === 0) {
                document.getElementById("wordRecommendations").innerHTML = "";
                return;
              }
        
              // Make an AJAX call to fetch word recommendations based on the input
              var xhr = new XMLHttpRequest();
              xhr.open('GET', '/get_word_recommendations/?input=' + encodeURIComponent(input), true);
              xhr.onload = function() {
                if (xhr.status === 200) {
                  var wordRecommendations = JSON.parse(xhr.responseText);
        
                  // Display word recommendations in a list
                  var recommendationsHtml = " <select onchange='selectRecommendation()'>";
                      recommendationsHtml += '<option>CAN SELECT MATCHING DRUG NAME</option>';        
                  for (var i = 0; i < wordRecommendations.length; i++) {


                    var word = wordRecommendations[i];

        
                    recommendationsHtml += '<option value="' + word + '">' + word + '</option>';
                  }
                  recommendationsHtml += "</select>";
        
                  document.getElementById("wordRecommendations").innerHTML = recommendationsHtml;
                } else {
                  console.error('Request failed. Status:', xhr.status);
                  // Display no recommendations for error cases
                  document.getElementById("wordRecommendations").innerHTML = "";
                }
              };
              xhr.onerror = function() {
                console.error('Request failed. Network error');
                // Display no recommendations for network errors
                document.getElementById("wordRecommendations").innerHTML = "";
              };
              xhr.send();
            }, 300); // Adjust the delay as needed (in milliseconds)
          }
        
          // Function to select a word recommendation and populate the input field with it
          function selectRecommendation() {
            var selectElement = document.querySelector("select");
            var selectedOption = selectElement.options[selectElement.selectedIndex].value;
            document.getElementById("name").value = selectedOption;
            document.getElementById("wordRecommendations").innerHTML = "";
          }

                function handleFormSubmit(event) {
                  event.preventDefault(); // Prevent the form from being submitted traditionally
                  handleSelectionChange();
                }
                function handleSelectionChange() {
                  var drugName = encodeURIComponent(document.getElementById("name").value);

                  // Make an AJAX call to fetch the medication details based on the selected strength, dosage form, and drug name
                  var xhr = new XMLHttpRequest();
                  xhr.open('GET', '/get_medicine_details/?name=' + drugName , true);
                  xhr.onload = function() {
                    if (xhr.status === 200) {
                      var get_medicine_details = JSON.parse(xhr.responseText);
                      if (Array.isArray(get_medicine_details) && get_medicine_details.length > 0) {
  
                        // Display details for each medication
                        var detailsHtml = "";
                        for (var i = 0; i < get_medicine_details.length; i++) {
                          var medication = get_medicine_details[i];
                          detailsHtml += "<div class='medication-details'>";
                          detailsHtml += "<p><strong>Generic Name:</strong> " + medication.generic_name + "</p>";
                          detailsHtml += "<p><strong>DRUG CLASS:</strong> " + medication.drug_class + "</p>";
                          detailsHtml += "<p><strong>Indication:</strong> " + medication.indication + "</p>";
                          detailsHtml += "<p><strong>INDICATION DESCRIPTION:</strong> " + medication.indication_description + "</p>";
                          detailsHtml += "<p><strong>THERAPEUTIC CLASS:</strong> " + medication.therapeutic_class_description + "</p>";
                          detailsHtml += "<p><strong>PHARMACOLOGY DESCRIPTION:</strong> " + medication.pharmacology_description + "</p>";
                          detailsHtml += "<p><strong>DOSAGE DESCRIPTION:</strong> " + medication.dosage_description + "</p>";
                          detailsHtml += "<p><strong> INTERACTIONS DESCRIPTION:</strong> " + medication.interaction_description + "</p>";
                          detailsHtml += "<p><strong>CONTRAINDICATIONS DESCRIPTION:</strong> " + medication.contraindications_description + "</p>";
                          detailsHtml += "<p><strong> SIDE EFFECTS DESCRIPTION:</strong> " + medication.side_effects_description + "</p>";
                          // Add more fields here
                          detailsHtml += "</div>";
                          detailsHtml += "<hr>";
                        }
                        document.getElementById("get_medicine_details").innerHTML = detailsHtml;
                      } else {
                        // Display "No data found" message
                        document.getElementById("get_medicine_details").innerHTML = "<p>No data found</p>";
                      }
                    } else {
                      console.error('Request failed. Status:', xhr.status);
                      // Display "No data found" message for error cases
                      document.getElementById("get_medicine_details").innerHTML = "<p>No data found</p>";
                    }
                  };
                  xhr.onerror = function() {
                    console.error('Request failed. Network error');
                    // Display "No data found" message for network errors
                    document.getElementById("get_medicine_details").innerHTML = "<p>No data found</p>";
                  };
                  xhr.send();
                }

            </script>  



          
            <div class="mb-3">

            </div>
            
            <div class="mb-3">
                <div class="row">
                    <div class="col-md-12 button">
                      <div class="d-flex align-items-center justify-content-center">

                        <button class="btn btn-primary d-block w-50" type="submit" style="font-size: 18px;">
                          <strong><span style="color: rgb(252, 249, 249);">GET MEDICINE DETAILS</span></strong>
                        </button>
                      </div>  
                    </div>
                </div>
            </div>
        </form>
    </div>
  </div>
</body>

</html>

{% endblock %}
