{%load about_me%}
{% block content %}
{% include "base_nav.html" %}

<!DOCTYPE html>
<html data-bs-theme="light">
    
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Hire me - Brand</title>
    <link rel="stylesheet" href="{% about_me 'bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:300,400,700&amp;display=swap">
    <link rel="stylesheet" href="{% about_me 'fonts/ionicons.min.css' %}">
    <link rel="stylesheet" href="{% about_me 'css/pikaday.min.css' %}">
    <style>
        .main-content {
            margin-left: 4.5rem; /* Adjust this value to match the width of your first div */
        }
    </style>
</head>

<body>

<div class="page cv-page main-content">

    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="my-5">
                    <h3>My Profile</h3>
                    <hr>
                </div>
                <form method="post">
                    <div class="row gx-5 mb-5">
                        <div class="col-xxl-8 mb-5 mb-xxl-0">
                            <div class="bg-secondary-soft px-4 py-5 rounded">

                                <div class="row g-3"><h4 class="mb-4 mt-0">Contact detail</h4>
                                    

                                        {% csrf_token %}
                                        {{ add_or_update_form.as_p }}
                                
                                
                                        <div class="col-md-6 offset-md-3">
                                            <button type="submit" class="btn btn-primary">UPDATE RECORD</button>
                                        </div>

                                    
                                </div>

                            </div>
                        </div>

                        <div class="col-xxl-4">
                            <div class="bg-secondary-soft px-4 py-5 rounded">
                                <div class="row g-3">
                                    <h4 class="mb-4 mt-0">Upload your profile photo</h4>


                                

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row gx-5 mb-5">
                        <div class="col-xxl-6 mb-5 mb-xxl-0">
                            <div class="bg-secondary-soft px-4 py-5 rounded">
                                <div class="row g-3"><h4 class="mb-4 mt-0">Social media detail</h4>
                                    <div class="col-md-6"><label class="form-label form-label"><i class="fab fa-facebook fa-fw me-2 text-facebook"></i>Facebook *</label><input class="form-control form-control" type="text" placeholder="" aria-label="Facebook" value="http://www.facebook.com"></div>
                                    <div class="col-md-6"><label class="form-label form-label"><i class="fab fa-twitter fa-fw text-twitter me-2"></i>Twitter *</label><input class="form-control form-control" type="text" placeholder="" aria-label="Twitter" value="http://www.twitter.com"></div>
                                    <div class="col-md-6"><label class="form-label form-label"><i class="fab fa-linkedin-in fa-fw text-linkedin me-2"></i>Linkedin *</label><input class="form-control form-control" type="text" placeholder="" aria-label="Linkedin" value="http://www.linkedin.com"></div>
                                    <div class="col-md-6"><label class="form-label form-label"><i class="fab fa-instagram fa-fw text-instagram me-2"></i>Instagram *</label><input class="form-control form-control" type="text" placeholder="" aria-label="Instragram" value="http://www.instragram.com"></div>
                                    <div class="col-md-6"><label class="form-label form-label"><i class="fas fa-basketball-ball fa-fw text-dribbble me-2"></i>Dribble *</label><input class="form-control form-control" type="text" placeholder="" aria-label="Dribble" value="http://www.dribble.com"></div>
                                    <div class="col-md-6"><label class="form-label form-label"><i class="fab fa-pinterest fa-fw text-pinterest"></i>Pinterest *</label><input class="form-control form-control" type="text" placeholder="" aria-label="Pinterest" value="http://www.pinterest.com"></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xxl-6">
                            <div class="bg-secondary-soft px-4 py-5 rounded">
                                <div class="row g-3"><h4 class="my-4">Change Password</h4>
                                    <div class="col-md-6"><label class="form-label form-label" for="exampleInputPassword1">Old password *</label><input class="form-control form-control" type="password" id="exampleInputPassword1"></div>
                                    <div class="col-md-6"><label class="form-label form-label" for="exampleInputPassword2">New password *</label><input class="form-control form-control" type="password" id="exampleInputPassword2"></div>
                                    <div class="col-md-12"><label class="form-label form-label" for="exampleInputPassword3">Confirm Password *</label><input class="form-control form-control" type="password" id="exampleInputPassword3"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="text-center d-md-flex justify-content-md-end gap-3"><button class="btn btn-danger btn-lg" type="button">Delete profile</button><button class="btn btn-primary btn-lg" type="button">Update profile</button></div>
                </form>
            </div>
        </div>
    </div>
</div>

</body>

</html>

{% endblock %}




