{% include 'base_apps_nav.html' %}
{% block content %}
{% load custom_filters %}
{% check_allowed_image_count request.user as is_allowed %}

{% if is_allowed %}
<!DOCTYPE html>
<html data-bs-theme="light" lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>apps</title>
    <style>
        .main-content {
            margin-left: 4.5rem; /* Adjust this value to match the width of your first div */
        }
    </style>
    
</head>

<body>
    <div class="page cv-page main-content">
        <main class="page" style="min-height: 100%;">
            <section class="clean-block about-us">
                <div class="row" style="margin-right: 0px;margin-left: 0px;">
                    <div class="col-md-12" style="margin-bottom: 25px;padding-left: 75px;font-size: 21px;margin-top: 73px;">
                        <a class="anone" href="apps.html"></a>
                    </div>
                </div>
                <body>
                    <div class="container">
                        <div class="row justify-content-center">






                                <div class="my-5">

                                    {% if request.resolver_match.view_name == 'BN_OCR' %}
                                        <h1 class="text-center">বাংলায় আপনার ছবির পাঠ্য রূপান্তর করুন</h1>
                                    {% elif request.resolver_match.view_name == 'ENG_OCR' %}
                                        <h1 class="text-center">CONVERT YOUR Photo text in BANGLA</h1>
                                    {% endif %}
                                    
                                </div>
                                







                                <div>
                                    <div>
                                        {% if image_url %}
                                            <div class="text-center">
                                                <img src="{{ image_url }}" class="img-fluid" alt="Image">
                                            </div>
                                        {% else %}
                                            <div class="card-body text-center"></div>
                                        {% endif %}
                                    </div>

                                    <div class="card-body text-center">
                                        <form action="" method="POST" enctype="multipart/form-data">
                                            {% csrf_token %}
                                            {{ form.as_p }}
                                            <button type="submit" class="btn btn-primary">Add</button>
                                        </form>
                                    </div>

                                </div>








                                
                                <div class="card my-4">
                                    <div class="card-body">
                                        {% if text %}
                                            <p class="text-center">{{ text }}</p>
                                        {% else %}
                                            <div class="card-body text-center"></div>
                                        {% endif %}
                                    </div>
                                </div>






                           
                                <div>
                                    {% if file_path %}    
                                    <div>
                                        <div>
                                            <p>{{ file_path }}</p>
                                        </div>
                    
                                        <div class="text-center">
                                            <a href="{% url 'download_text' file_path %}" class="btn btn-warning btn-lg">Download Text File</a>
                                        </div>
                                        {% else %}
                                    </div>
                                    {% endif %}
                                </div>




                                
                                <div class="card my-4">
                                    <div>
                                            {% if pdf_output_file %}

                                                <div>
                                                    <p>{{ pdf_output_file }}</p>
                                                </div>
                            
                                                <div>
                                                    <a href="{% url 'download_pdf' pdf_output_file %}" class="btn btn-warning btn-lg">Download PDF File</a>
                                                </div>
                                            {% else %}

                                            {% endif %}
                                    </div>
                                </div>







                        </div>
                    </div>
                    {% else %}
                    
                    
                    <h1 class="text-center">PLEASE INCREASE ALLOWANCE</h1>
                    
                    
                    {% endif %}
                    
                    
                    {% endblock %}
                    
        </main>
    </div>
   
</body>

</html>
