{% include 'base_apps_nav.html' %}
{% load static %}
{% block content %}
{% load custom_filters %}
{% check_allowed_image_count request.user as is_allowed %}

{% if is_allowed %}
<!DOCTYPE html>
<html data-bs-theme="light" lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>home</title>
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'fonts/fontawesome-all.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/Articles-Badges-images.css' %}">
    <link rel="stylesheet" href="{% static 'css/Contact-Details-icons.css' %}">
    <link rel="stylesheet" href="{% static 'css/footer-copyright_bar.css' %}">
    <link rel="stylesheet" href="{% static 'css/Ludens-Users---3-Profile.css' %}">
    <link rel="stylesheet" href="{% static 'css/Profile-Picture-With-Badge-profile-pic-with-badge.css' %}">
    <link rel="stylesheet" href="{% static 'css/Profile-Picture-With-Badge.css' %}">
    <style>
        .fixed-medium-image {
            width: 300px; /* Adjust the width as per your requirements */
            height: 300px; /* Automatically calculate the height based on the aspect ratio */
        }
    </style>
    <style>
        .main-content {
            margin-left: 4.5rem; /* Adjust this value to match the width of your first div */
        }
    </style>
    
</head>

<body>
    <div class="page cv-page main-content">
        <main class="page" style="min-height: 100%;">
            <section class="clean-block about-us">
                <div class="row" style="margin-right: 0px;margin-left: 0px;">
                    <div class="col-md-12" style="margin-bottom: 25px;padding-left: 75px;font-size: 21px;margin-top: 73px;">
                        <a class="anone" href="profile.html"></a>
                    </div>
                </div>
                <body>
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-md-6">
                                </br></br></br>
                                {% if request.resolver_match.view_name == 'BN_OCR' %}
                                    <h1>বাংলায় আপনার ছবির পাঠ্য রূপান্তর করুন</h1>
                                {% elif request.resolver_match.view_name == 'ENG_OCR' %}
                                    <h1>CONVERT YOUR Photo text in BANGLA</h1>
                                {% endif %}
                                
                                <div>
                                    {% if image_url %}
                                        <img src="{{ image_url }}" class="card-img-top" alt="Image">
                                    {% else %}
                                        <div class="card-body text-center"></div>
                                    {% endif %}
                                    
                                    <div class="card-body text-center">
                                        <form action="" method="POST" enctype="multipart/form-data">
                                            {% csrf_token %}
                                            {{ form.as_p }}
                                            <button type="submit" class="btn btn-primary">Add</button>
                                        </form>
                                    </div>
                                </div>
                                
                                <div>
                                    <div class="card-body">
                                        {% if text %}
                                            <p class="text-center">{{ text }}</p>
                                        {% else %}
                                            <div class="card-body text-center"></div>
                                        {% endif %}
                                    </div>
                                </div>
                                
                                <div class="card">
                                    <div>
                                        {% if file_path %}
                                            <div class="text-center mb-3">
                                                <p>{{ file_path }}</p>
                                            </div>
                        
                                            <div class="text-center">
                                                <a href="{% url 'download_text' file_path %}" class="btn btn-warning btn-lg">Download Text File</a>
                                            </div>
                                        {% else %}
                                            <div class="card-body text-center"></div>
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="card" style="margin-top: 20px;">
                                    <div>
                                        {% if pdf_output_file %}
                                            <div class="text-center mb-3">
                                                <p>{{ pdf_output_file }}</p>
                                            </div>
                        
                                            <div class="text-center">
                                                <a href="{% url 'download_pdf' pdf_output_file %}" class="btn btn-warning btn-lg">Download PDF File</a>
                                            </div>
                                        {% else %}
                                            <div class="card-body text-center"></div>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% else %}
        
        
                    <h1>PLEASE INCREASE ALLOWENCE</h1>
                    
                    
                    {% endif %}
                    
                    
                    {% endblock %}    
                    
        </main>
    </div>
   
</body>

</html>
