{% include "base.html" %}
{% block content %}

<!DOCTYPE html>
<html data-bs-theme="light" data-bss-forced-theme="light" lang="en">

<head>

</head>

<body>
    <div class="bg-body shadow d-flex flex-column flex-shrink-0 position-fixed top-0 bottom-0" style="width: 4.5rem;padding-bottom: 9px;padding-right: 116px;padding-left: 0px;margin-left: -1px;">
        <ul class="nav nav-pills flex-column text-center mb-auto nav-flush">
            <li class="nav-item"></li>
            <li class="nav-item">

                <a class="nav-link py-3 border-bottom rounded-0" href="{% url 'profile' %}" style="color: rgb(16,107,242);background: #4306f1;padding-right: 56px;"><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16" class="bi bi-person-fill" style="font-size: 37px;color: var(--bs-body-bg);">
                        <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3Zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6Z"></path>
                    </svg><strong><span style="color: rgb(241, 242, 244);">MAIN</span></strong></a>
                <a class="nav-link py-3 border-bottom rounded-0" href="{% url 'apps' %}" style="color: rgb(16,107,242);background: #f10693;--bs-body-font-size: 105rem;padding-right: 10px;padding-left: 13px;padding-top: 18px;"><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16" class="bi bi-app-indicator" style="--bs-body-bg: var(--bs-nav-pills-link-active-color);color: var(--bs-body-bg);font-size: 24px;">
                        <path d="M5.5 2A3.5 3.5 0 0 0 2 5.5v5A3.5 3.5 0 0 0 5.5 14h5a3.5 3.5 0 0 0 3.5-3.5V8a.5.5 0 0 1 1 0v2.5a4.5 4.5 0 0 1-4.5 4.5h-5A4.5 4.5 0 0 1 1 10.5v-5A4.5 4.5 0 0 1 5.5 1H8a.5.5 0 0 1 0 1H5.5z"></path>
                        <path d="M16 3a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"></path>
                    </svg><strong><span style="color: rgb(251, 254, 254);">APPS</span></strong></a>
                <a class="nav-link py-3 border-bottom rounded-0" href="{% url 'medication_search' %}" style="color: rgb(16,107,242);background: #01280e;--bs-body-font-size: 105rem;padding-right: 10px;padding-left: 13px;padding-top: 18px;font-size: 10px;"><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16" class="bi bi-segmented-nav" style="--bs-body-bg: var(--bs-nav-pills-link-active-color);color: var(--bs-body-bg);font-size: 24px;">
                    <path d="M0 6a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v2a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V6zm6 3h4V5H6v4zm9-1V6a1 1 0 0 0-1-1h-3v4h3a1 1 0 0 0 1-1z"></path>
                    </svg><strong><span style="color: rgb(243, 248, 248);">MEDICINE RECOMENDATION</span></strong></a>
                <a class="nav-link py-3 border-bottom rounded-0" href="{% url 'base_ocr' %}" style="color: rgb(16,107,242);background: #ffffff;--bs-body-font-size: 105rem;padding-right: 10px;padding-left: 13px;padding-top: 18px;font-size: 14px;--bs-body-bg: #fff;font-family: Lato, sans-serif;"><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16" class="bi bi-person-vcard-fill" style="font-size: 21px;">
                        <path d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V4Zm9 1.5a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 0-1h-4a.5.5 0 0 0-.5.5ZM9 8a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 0-1h-4A.5.5 0 0 0 9 8Zm1 2.5a.5.5 0 0 0 .5.5h3a.5.5 0 0 0 0-1h-3a.5.5 0 0 0-.5.5Zm-1 2C9 10.567 7.21 9 5 9c-2.086 0-3.8 1.398-3.984 3.181A1 1 0 0 0 2 13h6.96c.026-.163.04-.33.04-.5ZM7 6a2 2 0 1 0-4 0 2 2 0 0 0 4 0Z"></path>
                    </svg><span style="color: rgb(0, 0, 0);">OCR</span></a>
                <a class="nav-link py-3 border-bottom rounded-0" href="{% url 'base_handwritten' %}" style="color: rgb(16,107,242);background: #ffffff;--bs-body-font-size: 105rem;padding-right: 10px;padding-left: 13px;padding-top: 18px;font-size: 12px;--bs-body-bg: #fff;font-family: Lato, sans-serif;"><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16" class="bi bi-file-image-fill" style="font-size: 21px;">
                        <path d="M4 0h8a2 2 0 0 1 2 2v8.293l-2.73-2.73a1 1 0 0 0-1.52.127l-1.889 2.644-1.769-1.062a1 1 0 0 0-1.222.15L2 12.292V2a2 2 0 0 1 2-2zm4.002 5.5a1.5 1.5 0 1 0-3 0 1.5 1.5 0 0 0 3 0z"></path>
                        <path d="M10.564 8.27 14 11.708V14a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2v-.293l3.578-3.577 2.56 1.536 2.426-3.395z"></path>
                    </svg><span style="color: rgb(0, 0, 0);">IMAGE TO HANDWRITTEN</span></a>
                <a class="nav-link py-3 border-bottom rounded-0" href="{% url 'logout_user' %}" style="color: rgb(16,107,242);background: #ffffff;--bs-body-font-size: 105rem;padding-right: 10px;padding-left: 13px;padding-top: 18px;font-size: 14px;--bs-body-bg: #fff;font-family: Lato, sans-serif;"><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16" class="bi bi-arrow-counterclockwise" style="font-size: 21px;">
                        <path fill-rule="evenodd" d="M8 3a5 5 0 1 1-4.546 2.914.5.5 0 0 0-.908-.417A6 6 0 1 0 8 2v1z"></path>
                        <path d="M8 4.466V.534a.25.25 0 0 0-.41-.192L5.23 2.308a.25.25 0 0 0 0 .384l2.36 1.966A.25.25 0 0 0 8 4.466z"></path>
                    </svg><span style="color: rgb(0, 0, 0);">LOGOUT</span></a>
                <a class="nav-link py-3 border-bottom rounded-0" href="{% url 'about' %}" style="color: rgb(16,107,242);background: #ffffff;--bs-body-font-size: 105rem;padding-right: 10px;padding-left: 13px;padding-top: 18px;font-size: 14px;--bs-body-bg: #fff;font-family: Lato, sans-serif;"><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16" class="bi bi-person-video2" style="font-size: 21px;">
                        <path d="M10 9.05a2.5 2.5 0 1 0 0-5 2.5 2.5 0 0 0 0 5Z"></path>
                        <path d="M2 1a2 2 0 0 0-2 2v9a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V3a2 2 0 0 0-2-2H2ZM1 3a1 1 0 0 1 1-1h2v2H1V3Zm4 10V2h9a1 1 0 0 1 1 1v9c0 .285-.12.543-.31.725C14.15 11.494 12.822 10 10 10c-3.037 0-4.345 1.73-4.798 3H5Zm-4-2h3v2H2a1 1 0 0 1-1-1v-1Zm3-1H1V8h3v2Zm0-3H1V5h3v2Z"></path>
                    </svg><span style="color: rgb(0, 0, 0);">ABOUT US</span></a>
            </li>

        </ul>
    </div>
</body>
{% endblock %}