<!DOCTYPE html>
<html lang="en">
<head>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

</head>
<body>
    <form method="POST" class="custom-form" id="med_search_form" action="{% url 'med_search' %}">
        {% csrf_token %}
        <p>Brand Name</p>
        <div class="input-group input-group-lg">

            <!-- have set max length gere  but truly it is unlimited there is  -->
            <input type="text" name="name" id="name" class="form-control" value="{{ name_of_medication }}" placeholder="e.g:NAPA" required oninput="showWordRecommendations()" >


        </div>
        {% if strengths %}
        {% if name_of_medication %}

        <div class="row">

          
                <div  class="col-2" >
                    

                    <div class="col-lg-12 col-12">
                        <div class="input-group input-group-lg">

                            <div id="wordRecommendations"></div> 
                            
                        </div>

                    </div>

                </div>


            
                <div class="col-2">
                    <label class="label">SELECT THE STRENGTH:</label>

                    <div class="input-group">

                        <select class='form-control' id="strength" name="strength" style='margin-top: 5px; margin-bottom: 5px;'  onchange='handleSelectionChange()'>

                            <optgroup label="strength">
                            <option disabled="disabled" selected="selected">CHOOSE A STRENGTH.</option>
                            {% for strength in strengths %}
                                <option value="{{ strength }}">{{ strength }}</option>
                            {% endfor %}
                            </optgroup>
                        </select>

                    </div>
                      
                      
                </div>

        </div>

        {% endif %}
        {% else %}
        <div class="col-lg-12 col-12">

            <div class="input-group input-group-lg">

                <div id="wordRecommendations"></div> 
                
            </div>

        </div>

        {% endif %}
        {% if dosage_forms %}
        {% if name_of_medication %}

        <div class="row">

        

            
                    <label class="label">SELECT THE DOSAGE FORM:</label>
                    <div class="input-group">

                        <select class='form-control' id="dosage_form" name="dosage_form" style='margin-top: 5px; margin-bottom: 5px;'  onchange='handleSelectionChange()'>

                            <optgroup label="dosage_form">
                            <option disabled="disabled" selected="selected">CHOOSE A DOSAGE FORM.</option>
                            {% for dosage_form in dosage_forms %}
                                <option value="{{ dosage_form }}">{{ dosage_form }}</option>
                            {% endfor %}
                            </optgroup>
                        </select>

                    </div>
                      
                      

                <div class="col-2">
                    <button style="margin-top: 15px;" class="custom-btn btn-12"><span>Submit!</span><span>Submit Image</span></button>
                </div>

        </div>

        {% endif %}
        {% else %}


                <div class="col-2">
                    <button style="margin-top: 15px;" class="custom-btn btn-12">Submit</button>
                </div>

        {% endif %}



    </form>

    <script>
        function med_search_form() {
            document.getElementById("med_search_form").action = "{% url 'med_search' %}";
            document.getElementById("med_search_form").submit();
        }
    </script>
</body>
<script>
  //   $(document).ready(function () {
  //   showWordRecommendations();
  //   $(".tab-list__link").on("click", function (e) {
  //       e.preventDefault();
  //       var targetTab = $(this).attr("href");
  //       $(".tab-pane").removeClass("active");
  //       $(targetTab).addClass("active");
  //   });
  // });
  
  var timeout; // Global variable to store timeout reference
    
    function showWordRecommendations() {
      clearTimeout(timeout); // Clear previous timeout, if any
    
      // Set a new timeout to fetch word recommendations after a brief delay (e.g., 300ms)
      timeout = setTimeout(function() {
        var input = document.getElementById("name").value.trim();
        // console.log(input);
    
        // Check if there is any input
        if (input.length === 0) {
          var recommendationsHtml = `<label class="label">Select the drug</label>
          <select class='form-control' style='margin-top: 5px; margin-bottom: 5px;'  onchange='selectRecommendation()'>`;
          recommendationsHtml += `<option disabled="disabled" selected="selected">Select a proper brand name.</option>
                                    </select>
                                    `;
          document.getElementById("wordRecommendations").innerHTML = recommendationsHtml;
          return;
        }
    
        // Make an AJAX call to fetch word recommendations based on the input
        var xhr = new XMLHttpRequest();
        xhr.open('GET', '/get_word_recommendations/?input=' + encodeURIComponent(input), true);
        xhr.onload = function() {
  
  
  
  
          if (xhr.status === 200) {
            var wordRecommendations = JSON.parse(xhr.responseText);
    
            // Display word recommendations in a list
            var recommendationsHtml = "<select class='form-control' style='margin-top: 5px; margin-bottom: 5px;'  onchange='selectRecommendation()'>";
  
            
              if (wordRecommendations.length !== 0) {
                for (var i = 0; i < wordRecommendations.length; i++) {
                  var word = wordRecommendations[i];
                  recommendationsHtml += `
                  
                  <option value="${word}">${word}</option>
                  
                  `;
                }
              } else {
                recommendationsHtml += `<option disabled="disabled" selected="selected">No recommendations found.</option>
                                        
                                        `;
              }
  
  
  
  
              recommendationsHtml += `</select>
                                      `;
            document.getElementById("wordRecommendations").innerHTML = recommendationsHtml;
          } 
          
          
          
          else {
            console.error('Request failed. Status:', xhr.status);
            // Display no recommendations for error cases
            document.getElementById("wordRecommendations").innerHTML = "";
          }
        };
        xhr.onerror = function() {
          console.error('Request failed. Network error');
          // Display no recommendations for network errors
          document.getElementById("wordRecommendations").innerHTML = "";
        };
        xhr.send();
      }, 300); // Adjust the delay as needed (in milliseconds)
  
  
    }
    
    // Function to select a word recommendation and populate the input field with it
    function selectRecommendation() {
      var selectElement = document.querySelector("select");
      var selectedOption = selectElement.options[selectElement.selectedIndex].value;
      document.getElementById("name").value = selectedOption;
    }
  
  
    function handleFormSubmission(event) {
      var selectedStrength = encodeURIComponent(document.getElementById("strength").value);
      var selectedDosageForm = encodeURIComponent(document.getElementById("dosage_form").value);
      var drugName = encodeURIComponent(document.getElementById("name").value);

  
      if (selectedStrength && selectedDosageForm && drugName) {
        event.preventDefault(); // Prevent default form submission behavior
  
        // Construct the URL with query parameters
        var queryParams = '?strength=' + selectedStrength + '&dosage_form=' + selectedDosageForm + '&name=' + drugName;
        // You can add more parameters if needed like this: '&param1=value1&param2=value2'
  
        // Redirect to the target HTML page with the query parameters
        window.location.href = '/med_search_results/' + queryParams;
      }
    }
  
    // Attach the handleFormSubmission function to the form's submit event
    document.getElementById("med_search_form").addEventListener("submit", handleFormSubmission);

  </script>
</html>