<!DOCTYPE html>
<html lang="en">
<head>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

</head>
<body>
    <form method="POST" class="custom-form" id="brand_drug_details_form" action="#">
        {% csrf_token %}
        <p>GENERIC NAME</p>
        <div class="input-group input-group-lg">

            <!-- have set max length gere  but truly it is unlimited there is  -->
            <input type="text"  id="name_D_D" class="form-control"  placeholder="e.g:NAPA" required oninput="showWordRecommendations_D_D()" >


        </div>

        <div class="row">

          
                <div  class="col-2" >
                    <div class="col-lg-12 col-12">
                        <div class="input-group input-group-lg">

                            <div id="wordRecommendations_D_D"></div> 
                            
                        </div>

                    </div>

                </div>





        </div>

        <div class="row">
              <div class="col-2">
                <button style="margin-top: 15px;" class="custom-btn btn-12">Submit</button>
            </div>
        </div>

            







    </form>


</body>
<script>
    //   $(document).ready(function () {
    //   showWordRecommendations_D_D();
    //   $(".tab-list__link").on("click", function (e) {
    //       e.preventDefault();
    //       var targetTab = $(this).attr("href");
    //       $(".tab-pane").removeClass("active");
    //       $(targetTab).addClass("active");
    //   });
    // });
    
    var timeout; // Global variable to store timeout reference
      
      function showWordRecommendations_D_D() {
        clearTimeout(timeout); // Clear previous timeout, if any
      
        // Set a new timeout to fetch word recommendations after a brief delay (e.g., 300ms)
        timeout = setTimeout(function() {
          var input = document.getElementById("name_D_D").value.trim();
          // console.log(input);
      
          // Check if there is any input
          if (input.length === 0) {
            var recommendationsHtml = `<label class="label">Select the drug</label>
            <select class='form-control' style='margin-top: 5px; margin-bottom: 5px;'  onchange='selectRecommendation()'>`;
            recommendationsHtml += `<option disabled="disabled" selected="selected">Select a proper brand name.</option>
                                      </select>
                                      `;
            document.getElementById("wordRecommendations_D_D").innerHTML = recommendationsHtml;
            return;
          }
      
          // Make an AJAX call to fetch word recommendations based on the input
          var xhr = new XMLHttpRequest();
          xhr.open('GET', '/get_word_recommendations/?input=' + encodeURIComponent(input), true);
          xhr.onload = function() {
    
    
    
    
            if (xhr.status === 200) {
              var wordRecommendations = JSON.parse(xhr.responseText);
      
              // Display word recommendations in a list
              var recommendationsHtml = "<select class='form-control' style='margin-top: 5px; margin-bottom: 5px;'  onchange='selectRecommendation()'>";
    
              
                if (wordRecommendations.length !== 0) {
                  for (var i = 0; i < wordRecommendations.length; i++) {
                    var word = wordRecommendations[i];
                    recommendationsHtml += `
                    
                    <option value="${word}">${word}</option>
                    
                    `;
                  }
                } else {
                  recommendationsHtml += `<option disabled="disabled" selected="selected">No recommendations found.</option>
                                          
                                          `;
                }
    
    
    
    
                recommendationsHtml += `</select>
                                        `;
              document.getElementById("wordRecommendations_D_D").innerHTML = recommendationsHtml;
            } 
            
            
            
            else {
              console.error('Request failed. Status:', xhr.status);
              // Display no recommendations for error cases
              document.getElementById("wordRecommendations_D_D").innerHTML = "";
            }
          };
          xhr.onerror = function() {
            console.error('Request failed. Network error');
            // Display no recommendations for network errors
            document.getElementById("wordRecommendations_D_D").innerHTML = "";
          };
          xhr.send();
        }, 300); // Adjust the delay as needed (in milliseconds)
    
    
      }
      
      // Function to select a word recommendation and populate the input field with it
      function selectRecommendation() {
        var selectElement = document.querySelector("select");
        var selectedOption = selectElement.options[selectElement.selectedIndex].value;
        document.getElementById("name_D_D").value = selectedOption;
      }
    
    
      function handleFormSubmission(event) {
      var drugName = encodeURIComponent(document.getElementById("name_D_D").value);
      // var sortOption = document.getElementById("sortOption").value;
      // console.log(drugName);
  
      if (drugName) {
        event.preventDefault(); // Prevent default form submission behavior
  
        // Construct the URL with query parameters
        var queryParams = '?name=' + drugName;
        // You can add more parameters if needed like this: '&param1=value1&param2=value2'
  
        // Redirect to the target HTML page with the query parameters
        window.location.href = '/med_details_search_results/' + queryParams;
      }
    }
    
      // Attach the handleFormSubmission function to the form's submit event
      document.getElementById("brand_drug_details_form").addEventListener("submit", handleFormSubmission);
  
    </script>

</html>