{% load static %}
{% include "base_ex_nav.html" %}
{% block content %}
<!DOCTYPE html>
<html data-bs-theme="light" lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>home</title>
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'fonts/fontawesome-all.min.css' %}">
    <link rel="stylesheet" href="{% static 'fonts/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'fonts/fontawesome5-overrides.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/Articles-Badges-images.css' %}">
    <link rel="stylesheet" href="{% static 'css/Contact-Details-icons.css' %}">
    <link rel="stylesheet" href="{% static 'css/footer-copyright_bar.css' %}">
    <link rel="stylesheet" href="{% static 'css/Ludens-Users---3-Profile.css' %}">
    <link rel="stylesheet" href="{% static 'css/Profile-Picture-With-Badge-profile-pic-with-badge.css' %}">
    <link rel="stylesheet" href="{% static 'css/Profile-Picture-With-Badge.css' %}">
    <link rel="stylesheet" href="{% static 'css/Soft-UI-Aside-Navbar.css' %}">
</head>

<body>

    <aside id="sidenav-main" class="sidenav navbar navbar-vertical navbar-expand-xs border-0 border-radius-xl my-3 fixed-left ms-3">
        <div class="sidenav-header"><i class="fa fa-times p-3 cursor-pointer text-secondary opacity-5 position-absolute right-0 top-0 d-none d-xl-none"></i>
            <hr class="horizontal dark mt-0">
            <div id="sidenav-collapse-main" class="collapse navbar-collapse w-auto" style="margin-left: 1px;margin-right: -27px;padding-right: 26px;">
            </br>
        </br>
        </br>
                <ul class="navbar-nav">
                    <li class="nav-item"><a class="nav-link active" href="{% url 'dashboard' %}"><i class="fas fa-home active icon icon-shape icon-sm shadow border-radius-md text-center me-2 d-flex align-items-center justify-content-center"></i><span class="nav-link-text ms-1">Dashboard</span></a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'add_record' %}">
                        <i class="fa fa-save icon icon-shape icon-sm shadow border-radius-md bg-white text-center me-2 d-flex align-items-center justify-content-center"></i>
                        <span class="nav-link-text ms-1">ADD DETAILS</span></a>
                        <a class="nav-link" href="{% url 'record' %}"><i class="fa fa-table icon icon-shape icon-sm shadow border-radius-md bg-white text-center me-2 d-flex align-items-center justify-content-center"></i>
                            <span class="nav-link-text ms-1">VIEW DETAILS</span></a>
                            <a class="nav-link" href="{% url 'profile_picture' %}"><i class="fa fa-file-photo-o icon icon-shape icon-sm shadow border-radius-md bg-white text-center me-2 d-flex align-items-center justify-content-center"></i>
                                <span class="nav-link-text ms-1">UPLOAD PROFILE PIC</span></a>
                    </li>
                    <li class="nav-item mt-3"><span class="ps-4 ms-2 text-uppercase text-xs font-weight-bolder opacity-6">Account Pages</span></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'profile' %}"><i class="fa fa-user icon icon-shape icon-sm shadow border-radius-md bg-white text-center me-2 d-flex align-items-center justify-content-center"></i><span class="nav-link-text ms-1">Profile<br></span></a></li>
                </ul>
            </div>
        </div>
    </aside>
    <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
</body>

</html>

{% endblock %}