{% include 'base_ex_nav.html' %}
{% block content %}



<div class="card-img-overlay" style="margin-left: -35px; padding-left: 350px; margin-right: 4px; margin-bottom: -438px; padding-bottom: 322px;">

    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6">
                </br></br></br>
                <div>
                    {% if image_url %}
                        <img src="{{ image_url }}" class="card-img-top" alt="Image">
                    {% else %}
                        <div class="card-body text-center"></div>
                    {% endif %}
                    
                    <div class="card-body text-center">
                        <form action="" method="POST" enctype="multipart/form-data">
                            {% csrf_token %}
                            {{ form.as_p }}
                            <button type="submit" class="btn btn-primary">Add</button>
                        </form>
                    </div>
                </div>
                
                <div>
                    <div class="card-body">
                        {% if text %}
                            <p class="text-center">{{ text }}</p>
                        {% else %}
                            <div class="card-body text-center"></div>
                        {% endif %}
                    </div>
                </div>
                
                <div class="card">
                    <div>
                        {% if file_path %}
                            <div class="text-center mb-3">
                                <p>{{ file_path }}</p>
                            </div>
        
                            <div class="text-center">
                                <a href="{% url 'download_text' file_path %}" class="btn btn-warning btn-lg">Download Text File</a>
                            </div>
                        {% else %}
                            <div class="card-body text-center"></div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</div>



{% endblock %}
