{% load main_template %}
{% block content %}
{% load custom_filters %}

<!-- {% if is_allowed %}
{% endif %} -->
<!DOCTYPE html>
<html data-bs-theme="light" lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Topic Detail Page</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700&amp;family=Open+Sans&amp;display=swap">
    <link href="{% main_template 'css/bootstrap-icons.css' %}" rel="stylesheet">
    <link href="{% main_template 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% main_template 'css/templatemo-topic-listing.css' %}" rel="stylesheet"> 
<style>

.col-2 {
  width: -webkit-calc((100% - 2px) / 2);
  width: -moz-calc((100% - 2px) / 2);
  width: calc((100% - 2px) / 2);
}

@media (max-width: 560px) {
  .col-2 {
    width: 100%;
  }
  
}
table {
  border-collapse: collapse;
  width: 100%;
  margin: auto;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}
tr:hover {
  background-color: #f6bfbf;
}

th, td {
  text-align: left;
  padding: 8px;
}
</style>

</head>

<body id="top">
    <main>
        {% include 'new_main_nav_bar.html' %}

        <header class="d-flex flex-column justify-content-center align-items-center site-header">
            <div class="container">
                <div class="row justify-content-center align-items-center">
                    <div class="col-12 col-lg-5 mb-5">
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="index.html"><span>Homepage</span></a></li>
                                <li class="breadcrumb-item active" aria-current="page"><span>Web Design</span></li>
                            </ol>
                        </nav>
                        <h2 class="text-white">Know,learn,read about drug.</h2>
                    </div>
                    <div class="col-12 col-lg-5">
                        <div class="bg-white shadow-lg topics-detail-block"><img class="img-fluid topics-detail-block-image" src="{% main_template 'images/topics/med_1.jpg' %}"></div>
                    </div>
                </div>
            </div>
        </header>
        <section class="explore-section section-padding" id="section_2">
            <div class="container">
                <div class="row">

                    <div class="col-12 text-center">
                        <h2 class="mb-4">MED CARE</h1>
                    </div>

                </div>
            </div>



            <div class="container-fluid">
                <div class="row">
                    <ul class="nav nav-tabs" id="myTab" role="tablist">

                        <li class="nav-item" role="presentation">
                            <button class="nav-link active" id="design-tab" data-bs-toggle="tab" data-bs-target="#design-tab-pane" type="button" role="tab" aria-controls="design-tab-pane" aria-selected="true">MED SEARCH</button>
                        </li>


                        <li class="nav-item" role="presentation">
                            <button class="nav-link" id="marketing-tab" data-bs-toggle="tab" data-bs-target="#marketing-tab-pane" type="button" role="tab" aria-controls="marketing-tab-pane" aria-selected="false">MED DETAILS</button>
                        </li>



                        <li class="nav-item" role="presentation">
                            <button class="nav-link" id="finance-tab" data-bs-toggle="tab" data-bs-target="#finance-tab-pane" type="button" role="tab" aria-controls="finance-tab-pane" aria-selected="false">MEDICATION BOT(brand)</button>
                        </li>



                        <li class="nav-item" role="presentation">
                            <button class="nav-link" id="education-tab" data-bs-toggle="tab" data-bs-target="#education-tab-pane" type="button" role="tab" aria-controls="education-tab-pane" aria-selected="false">Presciption Classification</button>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="container">
                <div class="row">

                    <div class="col-12">

                        <div class="tab-content" id="myTabContent">
                            <div class="tab-pane fade show active" id="design-tab-pane" role="tabpanel" aria-labelledby="design-tab" tabindex="0">
                                <div class="row">
                                    <div class="col-lg-6 col-md-6 col-12 mb-4 mb-lg-3">
                                        <div class="custom-block bg-white shadow-lg">
                                                <div class="d-flex">
                                                    <div>

                                                        {% if  generic_name  %}
                                                        <h5 class="mb-2">FIND ALTERNATE DRUG USING GENERIC NAME</h5>
                                                        {% include 'generic_drug_search_form.html' %}


                                                        {% else %}
                                                        <h5 class="mb-2">FIND ALTERNATE DRUG USING BRAND NAME</h5>

                                                        {% include 'brand_drug_search_form.html' %}
                                                        {% endif %}
                                                            

                                                    </div>

                                                </div>

                                        </div>
                                    </div>

                                    <div class="col-lg-6 col-md-6 col-12 mb-4 mb-lg-3">
                                        <div class="custom-block bg-white shadow-lg">
                                                <div class="d-flex">
                                                    <div>

                                                         {% if  name_of_medication  %}

                                                         <h5 class="mb-2">SHORT DRUG SUMMERY</h5>

                                                            <table>
                                                                <tbody>
                                                                    <tr>
                                                                        <td><strong>Generic Name:</strong></td>
                                                                        <td>{{brand_search_generic_name}}</td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td><strong>INDICATION DESCRIPTION:</strong></td>
                                                                        <td>{{brand_search_indication}}</td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td><strong>SIDE EFFECTS:</strong></td>
                                                                        <td>{{brand_search_side_effects_description}}</td>
                                                                    </tr>
                                                                </tbody>
                                                            </table>



                                                         

                                                         {% else %}
                                                         {% if generic_name %}

                                                         <h5 class="mb-2">SHORT DRUG SUMMERY</h5>

                                                            <table>
                                                                <tbody>
                                                                    <tr>
                                                                        <td><strong>Generic Name:</strong></td>
                                                                        <td>{{generic_search_generic_name}}</td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td><strong>INDICATION DESCRIPTION:</strong></td>
                                                                        <td>{{generic_search_indication}}</td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td><strong>SIDE EFFECTS:</strong></td>
                                                                        <td>{{generic_search_side_effects_description}}</td>
                                                                    </tr>
                                                                </tbody>
                                                            </table>









                                                        {% else %}
                                                        <h5 class="mb-2">FIND ALTERNATE DRUG USING GENERIC NAME</h5>
                                                        {% include 'generic_drug_search_form.html' %}
                                                        {% endif %}
                                                         
                                                        {% endif %}
                                                            

                                                    </div>

                                                </div>

                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="tab-pane fade" id="marketing-tab-pane" role="tabpanel" aria-labelledby="marketing-tab" tabindex="0">

                                
                                <div class="row">





                                    <div class="col-lg-6 col-md-6 col-12 mb-4 mb-lg-3">
                                        <div class="custom-block bg-white shadow-lg">
                                                <div class="d-flex">
                                                    <div>
                                                        <h5 class="mb-2">FIND FULL DRUG DETAILS USING GENERIC NAME</h5>

                                                        {% include 'generic_drug_details_form.html' %}

                                                    </div>
                                                </div>
                                        </div>
                                    </div>




                                    <div class="col-lg-6 col-md-6 col-12 mb-4 mb-lg-3">
                                        <div class="custom-block bg-white shadow-lg">
                                                <div class="d-flex">
                                                    <div>
                                                        <h5 class="mb-2">FIND FULL DRUG DETAILS USING BRAND NAME</h5>

                                                        {% include 'brand_drug_details_form.html' %}


                                                    </div>
                                                </div>
                                        </div>
                                    </div>







                                </div>
                            
                            
                            
                            
                        </div>


                              <!-- BANGLA OCR -->

                            <div class="tab-pane fade" id="finance-tab-pane" role="tabpanel" aria-labelledby="finance-tab" tabindex="0">   


                                <div class="row">


                                    {% include 'medication_bot_form.html' %}


                                </div>




                            </div>
















    </main>

    <script src="{% main_template 'js/jquery.min.js' %}"></script>
    <script src="{% main_template 'js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% main_template 'js/jquery.sticky.js' %}"></script>
    <script src="{% main_template 'js/click-scroll.js' %}"></script>

    <script src="{% main_template 'js/custom.js' %}"></script>




</body>

</html>
{% endblock %}