{% load main_template %}
{% block content %}
{% load custom_filters %}

<!-- {% if is_allowed %}
{% endif %} -->
<!DOCTYPE html>
<html data-bs-theme="light" lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Topic Detail Page</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700&amp;family=Open+Sans&amp;display=swap">
    <link href="{% main_template 'css/bootstrap-icons.css' %}" rel="stylesheet">
    <link href="{% main_template 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% main_template 'css/templatemo-topic-listing.css' %}" rel="stylesheet"> 
<style>

.col-2 {
  width: -webkit-calc((100% - 2px) / 2);
  width: -moz-calc((100% - 2px) / 2);
  width: calc((100% - 2px) / 2);
}

@media (max-width: 560px) {
  .col-2 {
    width: 100%;
  }
  
}
table {
  border-collapse: collapse;
  width: 100%;
  margin: auto;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}
tr:hover {
  background-color: #f6bfbf;
}

th, td {
  text-align: left;
  padding: 8px;
}
</style>

</head>

<body id="top">
    <main>
        {% include 'new_main_nav_bar.html' %}

        <header class="d-flex flex-column justify-content-center align-items-center site-header">
            <div class="container">
                <div class="row justify-content-center align-items-center">
                    <div class="col-12 col-lg-5 mb-5">
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="index.html"><span>Homepage</span></a></li>
                                <li class="breadcrumb-item active" aria-current="page"><span>Web Design</span></li>
                            </ol>
                        </nav>
                        <h2 class="text-white">Welcome to our<br>Optical character recognition sector.</h2>
                    </div>
                    <div class="col-12 col-lg-5">
                        <div class="bg-white shadow-lg topics-detail-block"><img class="img-fluid topics-detail-block-image" src="{% main_template 'images/topics/OCR.png' %}"></div>
                    </div>
                </div>
            </div>
        </header>
        <section class="explore-section section-padding" id="section_2">
            <div class="container">
                <div class="row">

                    <div class="col-12 text-center">
                        <h2 class="mb-4">Browse Apps</h1>
                    </div>

                </div>
            </div>



            <div class="container-fluid">
                <div class="row">
                    <ul class="nav nav-tabs" id="myTab" role="tablist">

                        <li class="nav-item" role="presentation">
                            <button class="nav-link active" id="design-tab" data-bs-toggle="tab" data-bs-target="#design-tab-pane" type="button" role="tab" aria-controls="design-tab-pane" aria-selected="true">MED SEARCH</button>
                        </li>


                        <li class="nav-item" role="presentation">
                            <button class="nav-link" id="marketing-tab" data-bs-toggle="tab" data-bs-target="#marketing-tab-pane" type="button" role="tab" aria-controls="marketing-tab-pane" aria-selected="false">MED DETAILS</button>
                        </li>



                        <li class="nav-item" role="presentation">
                            <button class="nav-link" id="finance-tab" data-bs-toggle="tab" data-bs-target="#finance-tab-pane" type="button" role="tab" aria-controls="finance-tab-pane" aria-selected="false">BANGLA OCR</button>
                        </li>



                        <!-- <li class="nav-item" role="presentation">
                            <button class="nav-link" id="education-tab" data-bs-toggle="tab" data-bs-target="#education-tab-pane" type="button" role="tab" aria-controls="education-tab-pane" aria-selected="false">HEALTH CARE</button>
                        </li> -->
                    </ul>
                </div>
            </div>

            <div class="container">
                <div class="row">

                    <div class="col-12">

                        <div class="tab-content" id="myTabContent">
                            <div class="tab-pane fade show active" id="design-tab-pane" role="tabpanel" aria-labelledby="design-tab" tabindex="0">
                                <div class="row">
                                    <div class="col-lg-6 col-md-6 col-12 mb-4 mb-lg-3">
                                        <div class="custom-block bg-white shadow-lg">
                                                <div class="d-flex">
                                                    <div>

                                                        {% if  generic_name  %}
                                                        <h5 class="mb-2">FIND ALTERNATE DRUG USING GENERIC NAME</h5>
                                                        {% include 'generic_drug_search_form.html' %}


                                                        {% else %}
                                                        <h5 class="mb-2">FIND ALTERNATE DRUG USING BRAND NAME</h5>

                                                        {% include 'brand_drug_search_form.html' %}
                                                        {% endif %}
                                                            

                                                    </div>

                                                </div>

                                        </div>
                                    </div>

                                    <div class="col-lg-6 col-md-6 col-12 mb-4 mb-lg-3">
                                        <div class="custom-block bg-white shadow-lg">
                                                <div class="d-flex">
                                                    <div>

                                                         {% if  name_of_medication  %}

                                                         <h5 class="mb-2">SHORT DRUG SUMMERY</h5>

                                                            <table>
                                                                <tbody>
                                                                    <tr>
                                                                        <td><strong>Generic Name:</strong></td>
                                                                        <td>{{brand_search_generic_name}}</td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td><strong>INDICATION DESCRIPTION:</strong></td>
                                                                        <td>{{brand_search_indication}}</td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td><strong>SIDE EFFECTS:</strong></td>
                                                                        <td>{{brand_search_side_effects_description}}</td>
                                                                    </tr>
                                                                </tbody>
                                                            </table>



                                                         

                                                         {% else %}
                                                         {% if generic_name %}

                                                         <h5 class="mb-2">SHORT DRUG SUMMERY</h5>

                                                            <table>
                                                                <tbody>
                                                                    <tr>
                                                                        <td><strong>Generic Name:</strong></td>
                                                                        <td>{{generic_search_generic_name}}</td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td><strong>INDICATION DESCRIPTION:</strong></td>
                                                                        <td>{{generic_search_indication}}</td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td><strong>SIDE EFFECTS:</strong></td>
                                                                        <td>{{generic_search_side_effects_description}}</td>
                                                                    </tr>
                                                                </tbody>
                                                            </table>









                                                        {% else %}
                                                        <h5 class="mb-2">FIND ALTERNATE DRUG USING GENERIC NAME</h5>
                                                        {% include 'generic_drug_search_form.html' %}
                                                        {% endif %}
                                                         
                                                        {% endif %}
                                                            

                                                    </div>

                                                </div>

                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="tab-pane fade" id="marketing-tab-pane" role="tabpanel" aria-labelledby="marketing-tab" tabindex="0">

                                
                                <div class="row">





                                    <div class="col-lg-6 col-md-6 col-12 mb-4 mb-lg-3">
                                        <div class="custom-block bg-white shadow-lg">
                                                <div class="d-flex">
                                                    <div>
                                                        <h5 class="mb-2">FIND FULL DRUG DETAILS USING GENERIC NAME</h5>

                                                        {% include 'generic_drug_details_form.html' %}

                                                    </div>
                                                </div>
                                        </div>
                                    </div>




                                    <div class="col-lg-6 col-md-6 col-12 mb-4 mb-lg-3">
                                        <div class="custom-block bg-white shadow-lg">
                                                <div class="d-flex">
                                                    <div>
                                                        <h5 class="mb-2">FIND FULL DRUG DETAILS USING BRAND NAME</h5>

                                                        {% include 'brand_drug_details_form.html' %}


                                                    </div>
                                                </div>
                                        </div>
                                    </div>







                                </div>
                            
                            
                            
                            
                        </div>


                              <!-- BANGLA OCR -->

                            <div class="tab-pane fade" id="finance-tab-pane" role="tabpanel" aria-labelledby="finance-tab" tabindex="0">   <div class="row">
                                    <div class="col-lg-6 col-md-6 col-12 mb-4 mb-lg-0 ">
                                        <div class="custom-block bg-white shadow-lg ">


                                            <form method="POST" id="BNform" action="{% url 'BN_OCR' %}" enctype="multipart/form-data">
                                                {% csrf_token %}
                                                <a class='' href="topics-detail.html">
                                                    <div class="d-flex rotating-border rotating-border--google">
                                                        <div>
                                                            <h5 class="mb-2">CHOOSE YOUR IMAGE</h5>

                                                        </div>

                                                    </div>

                                                    <div class="row">
                                                        {% if BN_OCR_image_url %}
                                                            <img src="{{ BN_OCR_image_url }}" class="custom-block-image img-fluid" alt="">
                                                        {% else %}
                                                        <img id="blah">
                                                        {% endif %}
                                                    </div>
                                                    <div class="row">

                                                        <div>
                                                            <input type="file" id="image" name="image" onchange="readURL(this);">

                                                        </div>
                                                        
                                                    </div>
                                                    
                                                    <button style="margin-top: 5px;" class="custom-btn btn-12"><span>Submit!</span><span>Submit Image</span></button>

                                                </a>


                                            </form>

                                            {% if BN_OCR_file_path %}
                                            <a style="margin-top: 5px; text-align: center;" class="custom-btn btn-7" href="{% url 'download_text' BN_OCR_file_path %}">DOWNLOAD</a>
                                            {% endif %}
                                            <script>
                                            function BNform() {
                                                document.getElementById("BNform").action = "{% url 'BN_OCR' %}";
                                                document.getElementById("BNform").submit();
                                            }
                                            </script>


                                        </div>
                                    </div>

                                    <div class="col-lg-6 col-md-6 col-12">
                                        <div class="custom-block custom-block-overlay">
                                            <div class="d-flex flex-column h-100">
                                                <img src="{% main_template 'images/topics/bangla_ocr_result_1.jpg' %}" class="custom-block-image img-fluid" alt="">

                                                <div class="custom-block-overlay-text d-flex">
                                                    {% if BN_OCR_text %}
                                                    <h5 class="text-white mb-2">Result:  </h5>

                                                    <div >
                                                        <p style="color: azure;" class="scrollable-text" class="text-white">{{ BN_OCR_text }}</p>
                                                        <button id="copyButton" class="custom-btn btn-5">Copy Text</button>

                                                    </div>
                                                    {% else %}
                                                    <div>
                                                        <h5 class="text-white mb-2">BANGLA OPTICAL CHARACTERS RECOGNITION</h5>
                                                        <p class="text-white">Bangla OCR (Optical Character Recognition) technology is employed for the conversion of printed or handwritten Bangla text within images into digital, machine-readable text. The PyTesseract Python library serves as a tool to harness the capabilities of the Tesseract OCR engine for Bangla OCR purposes.</p>
                                                    </div>
                                                    {% endif %}
                                                </div>
                                                


                                                <div class="section-overlay"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>














                            <!-- <div class="tab-pane fade" id="education-tab-pane" role="tabpanel" aria-labelledby="education-tab" tabindex="0">
                                <div class="row">
                                    <div class="col-lg-6 col-md-6 col-12 mb-4 mb-lg-3">
                                        <div class="custom-block bg-white shadow-lg">
                                            <a href="topics-detail.html">
                                                <div class="d-flex">
                                                    <div>
                                                        <h5 class="mb-2">C.V.D PREDICTION</h5>

                                                        <p class="mb-0">Answer some of our simple questions to measure the approximate CARDIO VASCULAR DISEASE provabality</p>

                                                    </div>

                                                    <span class="badge bg-education rounded-pill ms-auto">80</span>
                                                </div>

                                                <img src="{% main_template 'images/topics/cvd_prediction_1.png' %}" class="custom-block-image img-fluid" alt="">
                                            </a>
                                        </div>
                                    </div>

                                    <div class="col-lg-6 col-md-6 col-12">
                                        <div class="custom-block bg-white shadow-lg">
                                            <a href="topics-detail.html">
                                                <div class="d-flex">
                                                    <div>
                                                        <h5 class="mb-2">MODEL DETAILS AND ANALYSIS</h5>

                                                        <p class="mb-0">For details knowladge about model training testing and evalution check here</p>
                                                    </div>

                                                    <span class="badge bg-education rounded-pill ms-auto">75</span>
                                                </div>

                                                <img src="{% main_template 'images/topics/model_result.jpg' %}" class="custom-block-image img-fluid" alt="">
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div> -->
                        </div>

                </div>
            </div>
        </section>





        <!-- <section class="topics-detail-section section-padding" id="topics-detail">
            <div class="container">
                <div class="row">
                    <div class="col-12 col-lg-8 m-auto">
                        <h3 class="mb-4">HOW DOSE OCR WORKS?</h3>
                        <p>OCR (Optical Character Recognition) is a technology that converts printed or handwritten text from images into editable text. PyTesseract is a Python library that uses the Tesseract OCR engine to achieve this, making it easy to extract text from images in Python programs.</p><blockquote>
                                Freelancing your skills isn’t going to make you a millionaire overnight.
                            </blockquote>
                        <div class="row my-4">
                            <div class="col-12 col-md-6 col-lg-6"><img class="img-fluid topics-detail-block-image" src="assets/img/businesswoman-using-tablet-analysis.jpg"></div>
                            <div class="col-12 col-md-6 col-lg-6 mt-4 mt-lg-0 mt-md-0"><img class="img-fluid topics-detail-block-image" src="assets/img/colleagues-working-cozy-office-medium-shot.jpg"></div>
                        </div>
                        <p>Most people start with freelancing skills they already have as a side hustle to build up income. This extra cash can be used for a vacation, to boost up savings, investing, build business.</p>
                    </div>
                </div>
            </div>
        </section> -->




        <section class="section-padding section-bg">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-12 col-lg-5 d-flex justify-content-center align-items-center subscribe-form-wrap">
                        <form class="custom-form subscribe-form" action="#" method="post" role="form">
                            <h4 class="mb-4 pb-2">Get Newsletter</h4><input class="form-control" type="email" id="subscribe-email" name="subscribe-email" pattern="[^ @]*@[^ @]*" placeholder="Email Address" required="">
                            <div class="col-12 col-lg-12"><button type="submit" class="form-control">Subscribe</button></div>
                        </form>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <footer class="site-footer section-padding">
        <div class="container">
            <div class="row">
                <div class="col-12 col-lg-3 mb-4 pb-2"><a class="navbar-brand mb-2" href="index.html"><i class="bi-back"></i><span>Topic</span></a></div>
                <div class="col-6 col-md-4 col-lg-3">
                    <h6 class="site-footer-title mb-3">Resources</h6>
                    <ul class="site-footer-links">
                        <li class="site-footer-link-item"><a href="#" class="site-footer-link">Home</a></li>
                        <li class="site-footer-link-item"><a href="#" class="site-footer-link">How it works</a></li>
                        <li class="site-footer-link-item"><a href="#" class="site-footer-link">FAQs</a></li>
                        <li class="site-footer-link-item"><a href="#" class="site-footer-link">Contact</a></li>
                    </ul>
                </div>
                <div class="col-6 col-md-4 col-lg-3 mb-4 mb-lg-0">
                    <h6 class="site-footer-title mb-3">Information</h6>
                    <p class="text-white d-flex mb-1"><a class="site-footer-link"> 305-240-9671 </a></p>
                    <p class="text-white d-flex"><a href="mailto:info@company.com" class="site-footer-link"> info@company.com </a></p>
                </div>
                <div class="col-12 col-md-4 col-lg-3 ms-auto mt-4 mt-lg-0">
                    <div class="dropdown"><button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false"> English</button>
                        <ul class="dropdown-menu">
                            <li><button class="dropdown-item" type="button">Thai</button></li>
                            <li><button class="dropdown-item" type="button">Myanmar</button></li>
                            <li><button class="dropdown-item" type="button">Arabic</button></li>
                        </ul>
                    </div>
                    <p class="copyright-text mt-lg-5 mt-4">Copyright © 2048 Topic Listing Center. All rights reserved. <br><br>Design: <a rel="nofollow" href="https://templatemo.com" target="_blank">TemplateMo</a></p>
                </div>
            </div>
        </div>
    </footer>
    <script src="{% main_template 'js/jquery.min.js' %}"></script>
    <script src="{% main_template 'js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% main_template 'js/jquery.sticky.js' %}"></script>
    <script src="{% main_template 'js/click-scroll.js' %}"></script>

    <script src="{% main_template 'js/custom.js' %}"></script>




</body>

</html>
{% endblock %}