{%load about_me%}
{% block content %}

<!DOCTYPE html>
<html data-bs-theme="light">
    
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Hire me - Brand</title>
    <link rel="stylesheet" href="{% about_me 'bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% about_me 'fonts/ionicons.min.css' %}">

    <style>
        .main-content {
            margin-left: 4.5rem; /* Adjust this value to match the width of your first div */
        }
    </style>
</head>

<body>

<div class="page cv-page main-content">

    <main class="page hire-me-page">
        <section class="portfolio-block hire-me">
            <div class="container">
                <div class="heading">
                    <h2>Hire Me</h2>
                </div>

                <div>
                    <form class="p-3 p-xl-4" method="post" action="{% url 'save_mail_form' %}">
                        {% csrf_token %}
                        <div class="mb-3">
                            <input class="form-control" type="text" id="name-1" name="name" placeholder="Name">
                        </div>
                        <div class="mb-3">
                            <input class="form-control" type="email" id="email-1" name="email" placeholder="Email">
                        </div>
                        <div class="mb-3">
                            <textarea class="form-control" id="message-1" name="message" rows="6" placeholder="Message"></textarea>
                        </div>
                        <div class="mb-3">
                            <select class="form-control" id="topic" name="topic">
                                <option value="HIRE_ME">HIRE ME</option>
                                <option value="CONTACT_ME">CONTACT ME</option>
                                <option value="COLLABORATION">COLLABORATION REQUEST</option>
                            </select>
                        </div>
                        <div>
                            <button class="btn btn-primary d-block w-100" type="submit">Send</button>
                        </div>
                    </form>                                                                
                </div>
            </div>
        </section>
    </main>
    <footer class="page-footer py-3 border-top">
        {% include "base_footer.html" %}
    </footer>
</div>
</body>


</html>


{% endblock %}

