{% include 'base.html' %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <div class="row">
        <div class="col-md-12">
          <div class="jumbotron">
            <h2>Hello, EVERYONE!</h2>
            <p>AUTHOR: RIFATUL ISLAM MAJUMDER</p>
            <p>MAIL: rifatulislam212@gmail.com</p>
            <p>GIT: <a href="https://github.com/Nirab123456" target="_blank">https://github.com/Nirab123456</a></p>
            <p>FACEBOOK: <a href="https://www.facebook.com/nirab.islam.77?mibextid=LQQJ4d" target="_blank">https://www.facebook.com/nirab.islam.77?mibextid=LQQJ4d</a></p>
          </div>
        </div>
  </div>
</div>
{% endblock %}
