{% include 'base.html' %}
{% load static %}
{% block content %}

<!DOCTYPE html>
<html data-bs-theme="light" lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>home</title>
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/Articles-Badges-images.css' %}">
    <link rel="stylesheet" href="{% static 'css/Contact-Details-icons.css' %}">
    <link rel="stylesheet" href="{% static 'css/footer-copyright_bar.css' %}">

</head>
<body>
    <section class="py-4 py-xl-5">
        <div class="container">
            <div class="text-center p-4 p-lg-5">
                <h1>DEVELOPER SECTION</h1>
                <h1 class="fw-bold mb-4"></h1>
            </div>
        </div>
        <div class="container">
            <p class="lead fs-6 fw-bolder text-start">Discover a captivating website filled with engaging content! Explore various active private research projects on Machine Learning and Web Design. The best part? It's completely free for everyone in the community to enjoy! <strong><em><span style="text-decoration: underline;">If you find anything I create helpful, feel free to show your appreciation by treating me to a coffee.</span></em> </strong>Additionally, you're invited to join my Discord server for further discussions and collaboration. Let's connect and make amazing things together!</p>
            <div class="row">
                <div class="col-sm-6 col-lg-4 mb-4 text-center"><img class="img-thumbnail img-fluid d-block mx-auto" src="{% static 'img/IMG-0347.jpg' %}" width="336" height="448">
                    <h3 class="m-0">Rifatul Islam Majumder</h3>
                    <h5 class="my-1">HIRE ME&nbsp;</h5>
                    <p class="fs-6 text-center text-bg-info"><br><strong><em><span style="text-decoration: underline;">If you find anything I create helpful, feel free to show your appreciation by treating me to a coffee.</span></em>&nbsp;</strong><br><br></p>
                </div>
                <div class="col">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title">FEEL FREE TO VISIT</h4>
                        </div>
                        <div class="card-body">
                            <h4 class="card-title">ABOUT ME</h4>
                            <h6 class="text-muted card-subtitle mb-2">PRIMARY INFO</h6>
                            <p class="fs-6 text-start card-text"><strong><em>Full Stack Web Developer with expertise in Machine Learning (ML), Deep Learning (DL), and Reinforcement Learning (RL)!</em></strong></p>
                        </div>
                    </div>
                    <nav class="navbar navbar-light navbar-expand-md text-start py-3">
                        <div class="container"><a class="navbar-brand d-flex align-items-center" href="#"><span class="bs-icon-sm bs-icon-rounded bs-icon-primary d-flex justify-content-center align-items-center me-2 bs-icon"><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16" class="bi bi-bezier">
                                        <path fill-rule="evenodd" d="M0 10.5A1.5 1.5 0 0 1 1.5 9h1A1.5 1.5 0 0 1 4 10.5v1A1.5 1.5 0 0 1 2.5 13h-1A1.5 1.5 0 0 1 0 11.5v-1zm1.5-.5a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5h-1zm10.5.5A1.5 1.5 0 0 1 13.5 9h1a1.5 1.5 0 0 1 1.5 1.5v1a1.5 1.5 0 0 1-1.5 1.5h-1a1.5 1.5 0 0 1-1.5-1.5v-1zm1.5-.5a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5h-1zM6 4.5A1.5 1.5 0 0 1 7.5 3h1A1.5 1.5 0 0 1 10 4.5v1A1.5 1.5 0 0 1 8.5 7h-1A1.5 1.5 0 0 1 6 5.5v-1zM7.5 4a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5h-1z"></path>
                                        <path d="M6 4.5H1.866a1 1 0 1 0 0 1h2.668A6.517 6.517 0 0 0 1.814 9H2.5c.123 0 .244.015.358.043a5.517 5.517 0 0 1 3.185-3.185A1.503 1.503 0 0 1 6 5.5v-1zm3.957 1.358A1.5 1.5 0 0 0 10 5.5v-1h4.134a1 1 0 1 1 0 1h-2.668a6.517 6.517 0 0 1 2.72 3.5H13.5c-.123 0-.243.015-.358.043a5.517 5.517 0 0 0-3.185-3.185z"></path>
                                    </svg></span><span>MY DETAILS</span></a><button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navcol-2"><span class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
                            <div class="collapse navbar-collapse" id="navcol-2">
                                <ul class="navbar-nav ms-auto">
                                    <li class="nav-item"><a class="nav-link active fs-6" href="https://github.com/Nirab123456">GIT PROFILE</a></li>
                                    <li class="nav-item"><a class="nav-link fs-6" href="https://discord.gg/bBSz5dVn"><span style="color: var(--bs-btn-hover-color); background-color: var(--bs-btn-hover-bg);">DISCORD SERVER</span></a></li>
                                    <li class="nav-item"><a class="nav-link fs-6" href="https://www.upwork.com/freelancers/~018e29dfa7a8f86511?viewMode=1"><span style="color: var(--bs-btn-hover-color); background-color: var(--bs-btn-hover-bg);">UPWORK PROFILE</span></a></li>
                                </ul>
                            </div>
                        </div>
                    </nav>
                    <div class="card"></div>
                </div>
            </div>
        </div>
        <section class="position-relative py-4 py-xl-5">
            <div class="container position-relative">
                <div class="row d-flex justify-content-center">
                    <div class="col-md-6 col-lg-4 col-xl-4">
                        <div class="d-flex flex-column justify-content-center align-items-start h-100">
                            <div class="d-flex align-items-center p-3">
                                <div class="bs-icon-md bs-icon-rounded bs-icon-primary d-flex flex-shrink-0 justify-content-center align-items-center d-inline-block bs-icon"><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16" class="bi bi-telephone">
                                        <path d="M3.654 1.328a.678.678 0 0 0-1.015-.063L1.605 2.3c-.483.484-.661 1.169-.45 1.77a17.568 17.568 0 0 0 4.168 6.608 17.569 17.569 0 0 0 6.608 4.168c.601.211 1.286.033 1.77-.45l1.034-1.034a.678.678 0 0 0-.063-1.015l-2.307-1.794a.678.678 0 0 0-.58-.122l-2.19.547a1.745 1.745 0 0 1-1.657-.459L5.482 8.062a1.745 1.745 0 0 1-.46-1.657l.548-2.19a.678.678 0 0 0-.122-.58L3.654 1.328zM1.884.511a1.745 1.745 0 0 1 2.612.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.678.678 0 0 0 .178.643l2.457 2.457a.678.678 0 0 0 .644.178l2.189-.547a1.745 1.745 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.634 18.634 0 0 1-7.01-4.42 18.634 18.634 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877L1.885.511z"></path>
                                    </svg></div>
                                <div class="px-2">
                                    <h6 class="mb-0">Phone</h6>
                                    <p class="mb-0">+8801732718266</p>
                                </div>
                            </div>
                            <div class="d-flex align-items-center p-3">
                                <div class="bs-icon-md bs-icon-rounded bs-icon-primary d-flex flex-shrink-0 justify-content-center align-items-center d-inline-block bs-icon"><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16" class="bi bi-envelope">
                                        <path d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V4Zm2-1a1 1 0 0 0-1 1v.217l7 4.2 7-4.2V4a1 1 0 0 0-1-1H2Zm13 2.383-4.708 2.825L15 11.105V5.383Zm-.034 6.876-5.64-3.471L8 9.583l-1.326-.795-5.64 3.47A1 1 0 0 0 2 13h12a1 1 0 0 0 .966-.741ZM1 11.105l4.708-2.897L1 5.383v5.722Z"></path>
                                    </svg></div>
                                <div class="px-2">
                                    <h6 class="mb-0">Email</h6>
                                    <p class="mb-0">rifatulislammajumder@rifatulislammajumder.me</p>
                                </div>
                            </div>
                            <div class="d-flex align-items-center p-3">
                                <div class="bs-icon-md bs-icon-rounded bs-icon-primary d-flex flex-shrink-0 justify-content-center align-items-center d-inline-block bs-icon"><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16" class="bi bi-pin">
                                        <path d="M4.146.146A.5.5 0 0 1 4.5 0h7a.5.5 0 0 1 .5.5c0 .68-.342 1.174-.646 1.479-.126.125-.25.224-.354.298v4.431l.078.048c.203.127.476.314.751.555C12.36 7.775 13 8.527 13 9.5a.5.5 0 0 1-.5.5h-4v4.5c0 .276-.224 1.5-.5 1.5s-.5-1.224-.5-1.5V10h-4a.5.5 0 0 1-.5-.5c0-.973.64-1.725 1.17-2.189A5.921 5.921 0 0 1 5 6.708V2.277a2.77 2.77 0 0 1-.354-.298C4.342 1.674 4 1.179 4 .5a.5.5 0 0 1 .146-.354zm1.58 1.408-.002-.001.002.001zm-.002-.001.002.001A.5.5 0 0 1 6 2v5a.5.5 0 0 1-.276.447h-.002l-.012.007-.054.03a4.922 4.922 0 0 0-.827.58c-.318.278-.585.596-.725.936h7.792c-.14-.34-.407-.658-.725-.936a4.915 4.915 0 0 0-.881-.61l-.012-.006h-.002A.5.5 0 0 1 10 7V2a.5.5 0 0 1 .295-.458 1.775 1.775 0 0 0 .351-.271c.08-.08.155-.17.214-.271H5.14c.06.1.133.191.214.271a1.78 1.78 0 0 0 .37.282z"></path>
                                    </svg></div>
                                <div class="px-2">
                                    <h6 class="mb-0">Location</h6>
                                    <p class="mb-0">UTTARA,DHAKA-1230</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-5 col-xl-4">
                        <div>
                            <form class="p-3 p-xl-4" method="post" action="{% url 'save_mail_form' %}">
                                {% csrf_token %}
                                <div class="mb-3">
                                    <input class="form-control" type="text" id="name-1" name="name" placeholder="Name">
                                </div>
                                <div class="mb-3">
                                    <input class="form-control" type="email" id="email-1" name="email" placeholder="Email">
                                </div>
                                <div class="mb-3">
                                    <textarea class="form-control" id="message-1" name="message" rows="6" placeholder="Message"></textarea>
                                </div>
                                <div>
                                    <button class="btn btn-primary d-block w-100" type="submit">Send</button>
                                </div>
                            </form>
                                                                            
                        </div>
                    </div>
                </div>
            </div>
            <footer class="text-center bg-dark">
                <div class="container text-white py-4 py-lg-5">
                    <ul class="list-inline">
                        <li class="list-inline-item me-4"><a class="link-light" href="#">DESIGNED &amp; DEVELOPED BY :RIFATUL ISLAM MAJUMDER</a></li>
                        <li class="list-inline-item me-4"></li>
                        <li class="list-inline-item"></li>
                    </ul>
                    <footer class="footer" style="padding: 0px;"></footer>
                    <p class="text-md-start text-lg-end">© Copyright 2023-<span><script>document.write(new Date().getFullYear())</script></span>. All Rights Reserved.&nbsp;</p>
                </div>
        </footer>
    </section>
    <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
</body>

</html>

{% endblock %}