{% load main_template %}
{% block content %}
{% load custom_filters %}
<!DOCTYPE html>
<html lang="en">
<head>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>

    <form method="POST" class="custom-form" id="brand_bot_form" action="#">
        {% csrf_token %}
        <div class="row">
            <div class="col-lg-6 col-md-6 col-12 mb-4 mb-lg-3">
                <div class="custom-block bg-white shadow-lg">

                        <p>Brand NAME</p>
                        <p style="font-size: 14px; color: brown;">Please select deug name one by one</p>
                        <div class="row" id="brand_bot_input_container">
                            
                                <div class="col-2">
                                    <input style="margin-top: 5px;" type="text" id="name-0" class="form-control" placeholder="e.g: NAPA" required oninput="showwordRecommendations_M_B(event,0)">
                                </div>

                        </div>

                        <div class="row">
                            <div class="col-2">
                                <div class="col-lg-12 col-12">
                                    <div class="input-group input-group-lg">
                                        <div id="wordRecommendations_M_B"></div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-2">
                            <a style="margin-top: 15px;" onclick="addNameField()" class="btn custom-btn btn-dark">Add Field</a>
                        </div>
                        

                        
                        <div class="row">
                            <div class="col-2">
                                <button style="margin-top: 15px;" class="custom-btn btn-12" onclick="handleFormSubmit(event)">Submit</button>
                            </div>
                        </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-12 mb-4 mb-lg-3">
                <div class="custom-block bg-white shadow-lg">

                    <div class="row">
                        <label class="label">SELECT PREDEFINED  QUESTIONS :</label>
                            <select style="margin-top: 5px" class="form-control" id="select_question" name="select_question">
                                <option style="font-size: 12px; color: rgb(248, 8, 8);" value="">
                                    <span style="color: rgb(248, 8, 8);">TOGGLE :PRE-DEFINED QUESTIONS/ASK QUESTION</span>
                                  </option>
                                <option value="use_cases">WHEN SHOULD I USE THE DRUGS(USE CASES)?</option>
                                <option value="side_effects">WHAT ARE THE SIDE EFFECTS OF THE DRUG?</option>
                                <option value="drug_interactions">WHAT TO AVOID WHEN TAKING?</option>
                                <option value="food_interactions">WHAT FOOD TO AVOID WHEN TAKING?</option>
                                <option value="mechanism_of_action">HOW THE DRUG WORKS?</option>
                                <option value="contraindications">IN WHICH CASES THE DRUG SHOULD BE AVOIDED?</option>
                            </select>

                    </div>
                    <div class="row">
                                        
                            <section id="sectionToHide">

                                <div id="name-container" >
                                    <label style="color: rgb(248, 8, 8);" class="label">ASK YOUR QUESTION:</label>

                                    <div id="showHideButton"></div>
                
                                    <!-- Your section to hide/show -->
                                    <input style="margin-top: 5px; font-size: 18px;" type="text" id="question" name="question" class="form-control" placeholder="can i use the drug during pregnency?" >

                                </div>

                            </section>

                    </div>
                    <div class="row">
                        <div id="fulltopic" >
                            <label style="color: rgb(248, 8, 8);" class="label">SELECT A TOPIC OF CHOICE</label>

                            <select class="form-control" id="topic" name="topic">

                                <option value="">SELECT A TOPIC OF CHOICE</option>
                                <option value="indication_description">INDICATION DESCRIPTION</option>
                                <option value="therapeutic_class_description">THERAPEUTIC CLASS DESCRIPTION</option>
                                <option value="pharmacology_description">PHARMACOLOGICAL DESCRIPTION</option>
                                <option value="dosage_description">DOSAGE DESCRIPTION</option>
                                <option value="interaction_description">INTERACTION DESCRIPTION</option>
                                <option value="contraindications_description">CONTRAINDICATIONS DESCRIPTION</option>
                                <option value="side_effects_description">SIDE EFFECTS DESCRIPTION</option>
                            </select>

                        </div>

                    </div>
                    </div>

                                <div id="get_medicine_chat"></div>




            </div>
        </div>
    </form>
</body>
    
<script>
    var numNameFields = 1;

    function addNameField() {
    var nameContainer = document.getElementById("brand_bot_input_container");
    var nameFieldContainer = document.createElement("div");
    nameFieldContainer.className = "col-2"; // Assuming you want the same column size as other fields

    var newInput = document.createElement("input");
    newInput.className = "form-control";
    newInput.type = "text";
    newInput.name = "name-" + numNameFields;
    newInput.id = "name-" + numNameFields;
    newInput.placeholder = "e.g: NAPA";
    newInput.required = true;
    newInput.oninput = function(event) {
        showwordRecommendations_M_B(event, numNameFields);
    };

    var deleteButton = document.createElement("button");
        deleteButton.type = "button";
        deleteButton.className = "btn btn-danger";
        deleteButton.textContent = "Remove";
        deleteButton.style.marginBottom = "5px";
        deleteButton.onclick = function() {
            removeNameField(nameFieldContainer);
        };

    nameFieldContainer.appendChild(newInput);
    nameFieldContainer.appendChild(deleteButton);
    
    // Find the last row div and insert the new container before it
    var lastRowDiv = nameContainer.querySelector(".row:last-child > .col-2:last-child");
    nameContainer.insertBefore(nameFieldContainer, lastRowDiv);

    numNameFields++;
}

// Function to remove the clicked name field
    function removeNameField(containerToRemove) {
        var nameContainer = document.getElementById("brand_bot_input_container");
        nameContainer.removeChild(containerToRemove);
    
        numNameFields--;


    }


    // Global variable to store timeout references for each name field
    var timeouts = {};



    function showwordRecommendations_M_B(event, fieldNum) {
        var input = event.target.value;
        console.log(input);

        // Clear previous timeout, if any
        clearTimeout(timeouts[fieldNum]);
        timeouts[fieldNum] = setTimeout(function() {
        // Make an AJAX call to fetch word recommendations based on the input
        var xhr = new XMLHttpRequest();
        xhr.open('GET', '/get_word_recommendations/?input=' + encodeURIComponent(input), true);
        xhr.onload = function() {




            if (xhr.status === 200) {
            var wordRecommendations_M_B = JSON.parse(xhr.responseText);
    
            // Display word recommendations in a list
            // var recommendationsHtml = "<select class=' my-custom-input-group form-select' aria-label='Default select example'  onchange='selectRecommendation_M_B()'>";

            var recommendationsHtml = `<label class="label">Select the drug</label>
            <select class='form-control' style='margin-top: 5px; margin-bottom: 5px;'  onchange='selectRecommendation_M_B()'>`;
                if (wordRecommendations_M_B.length !== 0) {
                for (var i = 0; i < wordRecommendations_M_B.length; i++) {
                    var word = wordRecommendations_M_B[i];
                    recommendationsHtml += '<option value="' + word + '">' + word + '</option>';
                }
                } else {
                recommendationsHtml += '<option value="">USE A PROPER BRAND NAME</option>';
                }




                recommendationsHtml += "</select>";
            document.getElementById("wordRecommendations_M_B").innerHTML = recommendationsHtml;
            } 
            
            
            
            else {
            console.error('Request failed. Status:', xhr.status);
            // Display no recommendations for error cases
            document.getElementById("wordRecommendations_M_B").innerHTML = "";
            }
        };
        xhr.onerror = function() {
            console.error('Request failed. Network error');
            // Display no recommendations for network errors
            document.getElementById("wordRecommendations_M_B").innerHTML = "";
        };
        xhr.send();
        }, 300); // Adjust the delay as needed (in milliseconds)


    }
    
    // Function to select a word recommendation and populate the input field with it
    function selectRecommendation_M_B() {
        var selectElement = document.querySelector("select");
        var selectedOption = selectElement.options[selectElement.selectedIndex].value;
        document.getElementById("name-" + (numNameFields - 1)).value = selectedOption;
    }
    
    
        function handleFormSubmit(event) {
          event.preventDefault(); // Prevent the form from being submitted traditionally
          handleSelectionChange();
        }
    
    
    
    
    
    
    
    
        const showHideButton = document.getElementById('showHideButton');
        const sectionToHide = document.getElementById('sectionToHide');
        const select_question = document.getElementById('select_question');
        const question = document.getElementById('question');
        const topic = document.getElementById('topic');
        const fulltopic = document.getElementById('fulltopic');
    
        function toggleSectionVisibility() {
            if (select_question.value === '' || !select_question.value) {
                sectionToHide.style.display = 'block';
            } else {
                sectionToHide.style.display = 'none';
            }
    
            if (question.value) {
                select_question.style.display = 'none';
            } else {
                select_question.style.display = 'block';
            }
            if (select_question.value !== '' ){
                fulltopic.style.display = 'none';
            }
            else{
                fulltopic.style.display = 'block';
            }
        }
    



        // Add event listener for the button click
        showHideButton.addEventListener('click', () => {
            if (sectionToHide.style.display === 'none') {
                sectionToHide.style.display = 'block';
            } else {
                sectionToHide.style.display = 'none';
            }
    
            // Call toggleSectionVisibility to handle the visibility change
            toggleSectionVisibility();
        });
    
        // Add event listener for the select box change
        select_question.addEventListener('change', toggleSectionVisibility);
    
        // Call the function initially to set the initial visibility based on the select box value and question value
        toggleSectionVisibility();
    
    
    
    
    
        function handleSelectionChange() {
          var nameInputs = document.querySelectorAll("#brand_bot_input_container input");
          var drugNames = [];
          for (var i = 0; i < nameInputs.length; i++) {
              drugNames.push(encodeURIComponent(nameInputs[i].value));
          }
          console.log('drugNames', drugNames)
        //   console.log(drugNames);

    
          var selected_question = encodeURIComponent(document.getElementById("select_question").value);
        //   console.log(selected_question);
          var question = encodeURIComponent(document.getElementById("question").value);
        //   console.log(question);
    
          var topic = encodeURIComponent(document.getElementById("topic").value);
        //   console.log(topic);
          if (topic === "" || topic === "none") {
              topic = null;
          }
    
          // If selected_question is "none" or not a valid value, use the custom question
          if (selected_question === "" || selected_question === "none") {
              selected_question = null;
          } else {
              // If a valid value is selected, clear the custom question input
              document.getElementById("question").value = "";
              question = null;
          }

          console.log('selected_question', selected_question)
            console.log('question', question)
            console.log('topic', topic)


          
    
          var xhr = new XMLHttpRequest();
          xhr.open('GET', '/get_medicine_chat/?name=' + drugNames + '&topic=' + topic + '&question=' + question + '&selected_question=' + selected_question, true);
    
    

    
          xhr.onload = function() {
    
    
            if (xhr.status === 200) {
              var get_medicine_chat = JSON.parse(xhr.responseText);
            //   console.log(get_medicine_chat);
            console.log('get_medicine_chat', get_medicine_chat)
              if (Array.isArray(get_medicine_chat) && get_medicine_chat.length > 0) {
    
                var detailsHtml = `
                <div style="margin-top: 10px;" class="custom-block bg-white shadow-lg">
                    <div class="row">
                        <div class="col-2">

                
                
                
                `;
                for (var i = 0; i < get_medicine_chat.length; i++) {
                  detailsHtml += "<p><strong>" + get_medicine_chat[i]['name'] + " : </strong> " + get_medicine_chat[i]['answer']+ "</p>";

                }
                detailsHtml += `
                </div>
                </div>
                </div>

                
                
                `;
                document.getElementById("get_medicine_chat").innerHTML = detailsHtml;
    
              } else {
                document.getElementById("get_medicine_chat").innerHTML = "<p>No data found </p>";
              }
    
    
    
            } else {
              console.error('Request failed. Status:', xhr.status);
              document.getElementById("get_medicine_chat").innerHTML = "<p>No data found </p>";
            }
    
    
    
    
          };
    
    
    
    
    
          xhr.onerror = function() {
            console.error('Request failed. Network error');
            document.getElementById("get_medicine_chat").innerHTML = "<p>No data found </p>";
          };
          xhr.send();
        }

</script>
</html>
{% endblock %}
