{% load about_me %}
{% include 'base.html' %}
{% block content %}
{% load custom_filters %}
<html data-bs-theme="light">

<head>
    <link rel="stylesheet" href="{% about_me 'css/pricing_tables.css' %}">
    <link rel="stylesheet" href="{% about_me 'bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% about_me 'fonts/ionicons.min.css' %}">

    <style>
      .main-content {
          margin-left: 7.5rem; /* Adjust this value to match the width of your first div */
      }
  </style>
</head>

<body>
  <div class="page cv-page main-content">
    <main class="page hire-me-page">
        <div class="price-card">
            <h2 >PROVIDE THE BRAND NAME OF ANY BANGLADESHI DRUG & ASK YOUR QUESTION </h2>
            <form class="border rounded border-0 shadow-lg p-3 p-md-5" data-bs-theme="light" method="POST" onsubmit="handleFormSubmit(event)">
                {% csrf_token %}

                <div class="mb-3">
                    <label class="form-label" for="name">NAME OF THE DRUG</label>
                    <div id="name-container">
                        <div class="mb-3 input-group">
                            <input class="form-control" type="text" id="name-0" name="name" value="" required oninput="showWordRecommendations(event, 0)">
                            <button type="button" class="btn btn-primary" onclick="addNameField()">Add Another Name Field</button>
                        </div>
                    </div>
                    <div style="margin-top: 10px" id="wordRecommendations"></div>


                    <h6 style="color: rgb(248, 8, 8);"><strong> SELECT BASIC PRE-DEFINED QUESTIONS FOR FASTER ANSWER OR ASK YOUR OWN QUESTION</strong></h6>
                    <select style="margin-top: 5px" class="form-control" id="select_question" name="select_question">
                        <option style="font-size: 12px; color: rgb(248, 8, 8);" value="">
                            <span style="color: rgb(248, 8, 8);">TOGGLE :PRE-DEFINED QUESTIONS/ASK QUESTION</span>
                          </option>
                        <option value="use_cases">WHEN SHOULD I USE THE DRUGS(USE CASES)?</option>
                        <option value="side_effects">WHAT ARE THE SIDE EFFECTS OF THE DRUG?</option>
                        <option value="drug_interactions">WHAT TO AVOID WHEN TAKING?</option>
                        <option value="food_interactions">WHAT FOOD TO AVOID WHEN TAKING?</option>
                        <option value="mechanism_of_action">HOW THE DRUG WORKS?</option>
                        <option value="contraindications">IN WHICH CASES THE DRUG SHOULD BE AVOIDED?</option>
                    </select>
                    
                    <!-- Your button -->
                    <div id="showHideButton"></div>
                    
                    <!-- Your section to hide/show -->
                    <section style="margin-top: 5px" id="sectionToHide">
                        <label style="color: rgb(248, 8, 8);" style="margin-top: 5px" class="form-label" for="question">ASK YOUR QUESTION</label>
                        <input style="margin-top: 5px" class="form-control" type="text" id="question" name="question" value="" required oninput="showWordRecommendations(event, -1)">
                    </section>

                </div>


                <div class="mb-3">
                    <select class="form-control" id="topic" name="topic" onchange="handleSelectionChange()">
                        <option value="">NONE</option>
                        <option value="indication_description">INDICATION DESCRIPTION</option>
                        <option value="therapeutic_class_description">THERAPEUTIC CLASS DESCRIPTION</option>
                        <option value="pharmacology_description">PHARMACOLOGICAL DESCRIPTION</option>
                        <option value="dosage_description">DOSAGE DESCRIPTION</option>
                        <option value="interaction_description">INTERACTION DESCRIPTION</option>
                        <option value="contraindications_description">CONTRAINDICATIONS DESCRIPTION</option>
                        <option value="side_effects_description">SIDE EFFECTS DESCRIPTION</option>
                    </select>
                </div>

        <p id="selectedStrength"></p>
        <div id="get_medicine_chat"></div>




          
            <div class="mb-3">

            </div>
            
            <div class="mb-3">
                <div class="row">
                    <div class="col-md-12 button">
                      <div class="d-flex align-items-center justify-content-center">

                        <button class="btn btn-primary d-block w-50" type="submit" style="font-size: 18px;" onclick="handleSelectionChange()">
                          <strong><span style="color: rgb(252, 249, 249);">GET MEDICINE DETAILS</span></strong>
                        </button>
                      </div>  
                    </div>
                </div>
            </div>
        </form>
    </div>
</main>
  </div>
</body>

<script>

            
    var numNameFields = 1;
    
    function addNameField() {
        var nameContainer = document.getElementById("name-container");
        var nameFieldContainer = document.createElement("div");
        nameFieldContainer.className = "mb-3 input-group"; // Added 'input-group' class to ensure proper alignment
    
        var newInput = document.createElement("input");
        newInput.className = "form-control";
        newInput.type = "text";
        newInput.name = "name";
        newInput.id = "name-" + numNameFields;
        newInput.value = "";
        newInput.required = true;
        newInput.oninput = function(event) {
            showWordRecommendations(event, numNameFields);
        };
    
        var deleteButton = document.createElement("button");
        deleteButton.type = "button";
        deleteButton.className = "btn btn-danger";
        deleteButton.textContent = "Remove";
        deleteButton.onclick = function() {
            removeNameField(newInput.id);
        };
    
        nameFieldContainer.appendChild(newInput);
        nameFieldContainer.appendChild(deleteButton);
        nameContainer.appendChild(nameFieldContainer);
        numNameFields++;
    }
    
    // Function to remove the clicked name field
    function removeNameField(inputId) {
        var nameContainer = document.getElementById("name-container");
        var inputToRemove = document.getElementById(inputId);
        nameContainer.removeChild(inputToRemove.parentElement); // Remove the parent div containing the input and delete button
    }
    
    // Global variable to store timeout references for each name field
    var timeouts = {};
    
    function showWordRecommendations(event, fieldNum) {
        var input = event.target.value.trim();
    
        // Check if there is any input
        if (input.length === 0) {
            document.getElementById("wordRecommendations").innerHTML = "";
            return;
        }
    
        // Clear previous timeout, if any
        clearTimeout(timeouts[fieldNum]);
    
        // Set a new timeout to fetch word recommendations after a brief delay (e.g., 300ms)
        timeouts[fieldNum] = setTimeout(function() {
            // Make an AJAX call to fetch word recommendations based on the input
            var xhr = new XMLHttpRequest();
            xhr.open('GET', '/get_word_recommendations/?input=' + encodeURIComponent(input), true);
            xhr.onload = function() {
                if (xhr.status === 200) {
                    var wordRecommendations = JSON.parse(xhr.responseText);
    
                    // Display word recommendations in a list
                    var recommendationsHtml = " <select onchange='selectRecommendation()'>";
                    recommendationsHtml += '<option>CAN SELECT MATCHING DRUG NAME</option>';
                    for (var i = 0; i < wordRecommendations.length; i++) {
                        var word = wordRecommendations[i];
                        recommendationsHtml += '<option value="' + word + '">' + word + '</option>';
                    }
                    recommendationsHtml += "</select>";
    
                    document.getElementById("wordRecommendations").innerHTML = recommendationsHtml;
                } else {
                    console.error('Request failed. Status:', xhr.status);
                    // Display no recommendations for error cases
                    document.getElementById("wordRecommendations").innerHTML = "";
                }
            };
            xhr.onerror = function() {
                console.error('Request failed. Network error');
                // Display no recommendations for network errors
                document.getElementById("wordRecommendations").innerHTML = "";
            };
            xhr.send();
        }, 300); // Adjust the delay as needed (in milliseconds)
    }
    
    // Function to select a word recommendation and populate the input field with it
    function selectRecommendation() {
        var selectElement = document.querySelector("select");
        var selectedOption = selectElement.options[selectElement.selectedIndex].value;
        document.getElementById("name-" + (numNameFields - 1)).value = selectedOption;
        document.getElementById("wordRecommendations").innerHTML = "";
    }
    
    
        function handleFormSubmit(event) {
          event.preventDefault(); // Prevent the form from being submitted traditionally
          handleSelectionChange();
        }
    
    
    
    
    
    
    
    
        const showHideButton = document.getElementById('showHideButton');
        const sectionToHide = document.getElementById('sectionToHide');
        const select_question = document.getElementById('select_question');
        const question = document.getElementById('question');
        const topic = document.getElementById('topic');
    
        function toggleSectionVisibility() {
            if (select_question.value === '' || !select_question.value) {
                sectionToHide.style.display = 'block';
            } else {
                sectionToHide.style.display = 'none';
            }
    
            if (question.value) {
                select_question.style.display = 'none';
            } else {
                select_question.style.display = 'block';
            }
            if (select_question.value !== '' ){
                topic.style.display = 'none';
            }
            else{
                topic.style.display = 'block';
            }
        }
    



        // Add event listener for the button click
        showHideButton.addEventListener('click', () => {
            if (sectionToHide.style.display === 'none') {
                sectionToHide.style.display = 'block';
            } else {
                sectionToHide.style.display = 'none';
            }
    
            // Call toggleSectionVisibility to handle the visibility change
            toggleSectionVisibility();
        });
    
        // Add event listener for the select box change
        select_question.addEventListener('change', toggleSectionVisibility);
    
        // Call the function initially to set the initial visibility based on the select box value and question value
        toggleSectionVisibility();
    
    
    
    
    
        function handleSelectionChange() {
          var nameInputs = document.querySelectorAll("#name-container input");
          var drugNames = [];
          for (var i = 0; i < nameInputs.length; i++) {
              drugNames.push(encodeURIComponent(nameInputs[i].value));
          }
    
          var selected_question = encodeURIComponent(document.getElementById("select_question").value);
          var question = encodeURIComponent(document.getElementById("question").value);
    
          var topic = encodeURIComponent(document.getElementById("topic").value);
          if (topic === "" || topic === "none") {
              topic = null;
          }
    
          // If selected_question is "none" or not a valid value, use the custom question
          if (selected_question === "" || selected_question === "none") {
              selected_question = null;
          } else {
              // If a valid value is selected, clear the custom question input
              document.getElementById("question").value = "";
              question = null;
          }
    
          var xhr = new XMLHttpRequest();
          xhr.open('GET', '/get_medicine_chat/?name=' + drugNames + '&topic=' + topic + '&question=' + question + '&selected_question=' + selected_question, true);
    
    
    
    
    
          xhr.onload = function() {
    
    
            if (xhr.status === 200) {
              var get_medicine_chat = JSON.parse(xhr.responseText);
              if (Array.isArray(get_medicine_chat) && get_medicine_chat.length > 0) {
    
                var detailsHtml = "<div>";
                for (var i = 0; i < get_medicine_chat.length; i++) {
                  detailsHtml += "<p><strong>" + get_medicine_chat[i]['name'] + " : </strong> " + get_medicine_chat[i]['answer']+ "</p>";
                  // Add more fields here
                  detailsHtml += "<hr>";
                }
                detailsHtml += "</div>";
                document.getElementById("get_medicine_chat").innerHTML = detailsHtml;
    
              } else {
                document.getElementById("get_medicine_chat").innerHTML = "<p>No data found </p>";
              }
    
    
    
            } else {
              console.error('Request failed. Status:', xhr.status);
              document.getElementById("get_medicine_chat").innerHTML = "<p>No data found </p>";
            }
    
    
    
    
          };
    
    
    
    
    
          xhr.onerror = function() {
            console.error('Request failed. Network error');
            document.getElementById("get_medicine_chat").innerHTML = "<p>No data found </p>";
          };
          xhr.send();
        }
        
    
            </script>
    


</html>

{% endblock %}
