<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<style>
    .auth_navbar-icon {
  background: green; /* Set the background color to green */
  border-radius: var(--border-radius-large);
  display: inline-block;
  font-size: var(--h5-font-size);
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  transition: all 0.3s ease;
}

.auth_navbar-icon:hover {
  background: var(--primary-color);
  color: var(--white-color);
}

</style>

<nav class="navbar navbar-expand-lg">
    <div class="container">
        <a class="navbar-brand" href="{% url 'index_new' %}">
            <i class="bi-back"></i>
            <span>Topic</span>
        </a>
        {% if user.is_authenticated %}


        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-lg-5 me-lg-auto">
                <li class="nav-item">
                    <a class="nav-link click-scroll" href="#section_1">Home</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link click-scroll" href="#section_2">Browse Topics</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link click-scroll" href="{% url 'add_or_update_record' %}">SETTINGS</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link click-scroll" href="{% url 'about' %}">ABOUT US</a>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarLightDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">LOGOUT/CHANGE-PASSWORD</a>

                    <ul class="dropdown-menu dropdown-menu-light" aria-labelledby="navbarLightDropdownMenuLink">
                        <li><a class="dropdown-item" href="{% url 'logout_user' %}">Logout</a></li>

                        <li><a class="dropdown-item" href="{% url 'change_password' %}">Change Password</a></li>
                    </ul>
                </li>
            </ul>

            <div class="d-none d-lg-block">
                <a href="#top" class="navbar-icon bi bi-arrow-90deg-up smoothscroll"></a>
            </div>
            
        </div>
        {% else %}

        <div>
            <a href="{% url 'login_register' %}"  class="navbar-icon bi-person"></a>
        </div> 
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-lg-5 me-lg-auto">
                <li class="nav-item">
                    <a class="nav-link click-scroll" href="#section_1">Home</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link click-scroll" href="#section_2">Browse Topics</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link click-scroll" href="{% url 'about' %}">ABOUT US</a>
                </li>

                <!-- <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarLightDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">LOGOUT/CHANGE-PASSWORD</a>

                    <ul class="dropdown-menu dropdown-menu-light" aria-labelledby="navbarLightDropdownMenuLink">
                        <li><a class="dropdown-item" href="{% url 'logout_user' %}">Logout</a></li>

                        <li><a class="dropdown-item" href="{% url 'change_password' %}">Change Password</a></li>
                    </ul>
                </li> -->
            </ul>

            <div class="d-none d-lg-block">
                <a href="#top" class="navbar-icon bi bi-arrow-90deg-up smoothscroll"></a>
            </div>
            
        </div>        
        {% endif %}
        <script>
            $(document).ready(function() {
                $('#loadNewContent').on('click', function(e) {
                    e.preventDefault(); // Prevent the default link behavior
            
                    // Load the content from the new HTML file
                    $.get('new_login_reg.html', function(data) {
                        // Replace the content of a target element (e.g., a div) with the loaded content
                        $('#targetElement').html(data);
                    });
                });
            });
            </script>
            
    </div>
</nav>