{% load about_me %}
{% include 'base.html' %}
{% block content %}
{% load custom_filters %}
{% include "MED_nav.html" %}
<html data-bs-theme="light">

<head>
    <link rel="stylesheet" href="{% about_me 'css/pricing_tables.css' %}">

    <style>
      .main-content {
          margin-left: 7.5rem; /* Adjust this value to match the width of your first div */
      }
  </style>
</head>

<body>
  <div class="page cv-page main-content">
    <main class="page hire-me-page"></main>
    <div class="price-card">
      <h2>PROVIDE THE BRAND NAME OF ANY BANGLADESHI DRUG TO DET DETAILS </h2>
      <form class="border rounded border-0 shadow-lg p-3 p-md-5" data-bs-theme="light" method="POST" onsubmit="handleFormSubmit(event)">
        {% csrf_token %}

        <div class="mb-3">
          <button onclick="addNewInput()">Add Drug Name Input</button>
          <div id="inputContainer">
          </div>
        </div>
        
        <p id="selectedStrength"></p>
        <div id="get_presciption_classification"></div>
        <!-- Add a dropdown menu for sorting -->
        
        <script>
                  var timeoutMap = new Map(); // Map to store timeout references for each input field

                  function showWordRecommendations(inputElement) {
                    var input = inputElement.value.trim();
                    var recommendationsContainer = inputElement.nextElementSibling;

                    clearTimeout(timeoutMap.get(inputElement)); // Clear previous timeout, if any

                    // Set a new timeout to fetch word recommendations after a brief delay (e.g., 300ms)
                    var timeout = setTimeout(function() {
                      // Check if there is any input
                      if (input.length === 0) {
                        recommendationsContainer.innerHTML = "";
                        return;
                      }

                      // Make an AJAX call to fetch word recommendations based on the input
                      var xhr = new XMLHttpRequest();
                      xhr.open('GET', '/get_word_recommendations/?input=' + encodeURIComponent(input), true);
                      xhr.onload = function() {
                        if (xhr.status === 200) {
                          var wordRecommendations = JSON.parse(xhr.responseText);

                          // Display word recommendations in a list
                          var recommendationsHtml = "<select onchange='selectRecommendation(this)'>";

                          for (var i = 0; i < wordRecommendations.length; i++) {
                            var word = wordRecommendations[i];
                            recommendationsHtml += '<option value="' + word + '">' + word + '</option>';
                          }
                          recommendationsHtml += "</select>";

                          recommendationsContainer.innerHTML = recommendationsHtml;
                        } else {
                          console.error('Request failed. Status:', xhr.status);
                          // Display no recommendations for error cases
                          recommendationsContainer.innerHTML = "";
                        }
                      };
                      xhr.onerror = function() {
                        console.error('Request failed. Network error');
                        // Display no recommendations for network errors
                        recommendationsContainer.innerHTML = "";
                      };
                      xhr.send();
                    }, 300); // Adjust the delay as needed (in milliseconds)

                    // Store the timeout reference in the map
                    timeoutMap.set(inputElement, timeout);
                  }

                  // Function to select a word recommendation and populate the input field with it
                  function selectRecommendation(selectElement) {
                    var selectedOption = selectElement.options[selectElement.selectedIndex].value;
                    var inputElement = selectElement.parentNode.previousElementSibling;
                    inputElement.value = selectedOption;
                    selectElement.parentNode.innerHTML = "";
                  }

                  // Function to add a new drug name input
                  function addNewInput() {
                    var inputContainer = document.getElementById("inputContainer");
                    var newInputDiv = document.createElement("div");
                    newInputDiv.innerHTML = `
                      <label class="form-label" for="name">NAME OF THE DRUG</label>
                      <input type="text" class="nameInput" name="name" value="" required oninput="showWordRecommendations(this)">
                      <div class="wordRecommendations"></div>
                    `;
                    inputContainer.appendChild(newInputDiv);
                  }

                function handleFormSubmit(event) {
                  event.preventDefault(); // Prevent the form from being submitted traditionally
                  handleSelectionChange();
                }
                function handleSelectionChange() {
                  var drugNames = [];

                // Get all the drug name input elements with class "nameInput"
                var drugNameInputs = document.querySelectorAll(".nameInput");

                // Loop through each input element and collect the drug names
                drugNameInputs.forEach(function(inputElement) {
                  var drugName = inputElement.value.trim();
                  if (drugName.length > 0) {
                    drugNames.push(drugName);
                  }
                });

                  // Make an AJAX call to fetch the medication details based on the selected strength, dosage form, and drug name
                  var xhr = new XMLHttpRequest();
                  xhr.open('GET', '/get_presciption_classification/?name=' + drugNames , true);
                  xhr.onload = function() {
                    if (xhr.status === 200) {
                      var get_presciption_classification = JSON.parse(xhr.responseText);
                      if (Array.isArray(get_presciption_classification) && get_presciption_classification.length > 0) {
  
                        // Display details for each medication
                        var detailsHtml = "";
                        for (var i = 0; i < get_presciption_classification.length; i++) {
                          var medication = get_presciption_classification[i];
                          detailsHtml += "<div class='medication-details'>";
                          detailsHtml += "<p><strong>BRAND NAME: </strong>" + medication.name + "</p>";
                          detailsHtml += "<p><strong>GENERIC NAME: </strong>" + medication.generic_name + "</p>";
                          detailsHtml += "<p><strong>CLASS: </strong>" + medication.drug_class + "</p>";
                          detailsHtml += "<p><strong>INDICATION: </strong>" + medication.indication + "</p>";
                          // Add more fields here
                          detailsHtml += "</div>";
                          detailsHtml += "<hr>";
                        }
                        document.getElementById("get_presciption_classification").innerHTML = detailsHtml;
                      } else {
                        // Display "No data found" message
                        document.getElementById("get_presciption_classification").innerHTML = "<p>No data found</p>";
                      }
                    } else {
                      console.error('Request failed. Status:', xhr.status);
                      // Display "No data found" message for error cases
                      document.getElementById("get_presciption_classification").innerHTML = "<p>No data found</p>";
                    }
                  };
                  xhr.onerror = function() {
                    console.error('Request failed. Network error');
                    // Display "No data found" message for network errors
                    document.getElementById("get_presciption_classification").innerHTML = "<p>No data found</p>";
                  };
                  xhr.send();
                }

            </script>  



          
            <div class="mb-3">

            </div>
            
            <div class="mb-3">
                <div class="row">
                    <div class="col-md-12 button">
                      <div class="d-flex align-items-center justify-content-center">

                        <button class="btn btn-primary d-block w-50" type="submit" style="font-size: 18px;">
                          <strong><span style="color: rgb(252, 249, 249);">GET MEDICINE DETAILS</span></strong>
                        </button>
                      </div>  
                    </div>
                </div>
            </div>
        </form>
    </div>
  </div>
</body>

</html>

{% endblock %}
