{% load about_me %}
{% include 'base.html' %}
{% block content %}
{% load custom_filters %}
<!DOCTYPE html>
<html lang="en">

<head>
    <link href="{% about_me 'css/full_search.css' %}" rel="stylesheet" media="all">
    <link href="{% about_me 'css/material-design-iconic-font.css' %}" rel="stylesheet" media="all">
    <link href="{% about_me 'css/material-design-iconic-font.min.css' %}" rel="stylesheet" media="all">
<style>
/* Custom CSS styles for the input group */
.my-custom-input-group {
  background-color: #a8f5cd;
  border: 1px solid #151414;
  padding: 10px;
  border-radius: 5px;
}
/* Define the normal link color */



</style>


</head>


<body>
    <div class="page-wrapper bg-img-1 p-t-200 p-b-120" style="background: url(&quot;{% about_me 'img/bg-img-01.jpg' %}&quot;) center / cover no-repeat;">
        <div class="wrapper wrapper--w900">
            <div class="card card-4">
                <div class="card-body">


                  <ul class="tab-list">
                    <li style="margin-left: 15px;" class="tab-list__item">
                      <a href="{% url 'med_search' %}" data-toggle="tab" id="drugSearchLink"><h3 style="color: azure;">DRUG SEARCH</h3></a>
                    </li>
                    <li style="margin-left: 150px;" class="tab-list__item">
                      <a href="{% url 'medicine_details' %}" data-toggle="tab" id="drugDetailsLink"><h3 style="color: azure;">DRUG DETAILS</h3></a>
                    </li>
                  </ul>
                  


                    <div class="tab-content">

                        <div class="tab-pane active" id="tab1">
                            <form method="POST" id="med_search_form" action="#">
                                {% csrf_token %} 

                                <div id="name-container" class=" input-group input-group-big">
                                    <label class="label">provide the name of drug:</label>
                                    <div class="presciption_classification">
                                    <input  type="text" class="input--style-1" id="name-0" name="name" value="{{ name_of_medication }}" placeholder="NAME OF THE DRUG e.g:NAPA" required="required" oninput="showWordRecommendations(event, 0)">
                                    <button type="button" class="btn btn-primary" onclick="addNameField()">Add Another Name Field</button>
                                  </div>
                                    <i class="input-group-symbol">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16" class="bi bi-capsule">
                                            <path d="M1.828 8.9 8.9 1.827a4 4 0 1 1 5.657 5.657l-7.07 7.071A4 4 0 1 1 1.827 8.9Zm9.128.771 2.893-2.893a3 3 0 1 0-4.243-4.242L6.713 5.429l4.243 4.242Z"></path>
                                        </svg>
                                    </i>
                                </div>


                                <div class="row row-space">

                                  
                                    <div  class="col-2" >
                                      <div class="input-group">
                                        <label class="label">select the drug:</label>
                                        <div class="input-group-icon" id="js-select-special">

                                          <div class="rs-select2 js-select-simple select--no-search">

                                            <div style="margin-bottom: 5px" id="wordRecommendations"></div>

                                          </div>  
                                        </div>
                                      </div>
                                    </div>


                                    
                                    <div class="col-2">

                                    </div>

                                </div>


                                <div class="row row-space">


                                    <div class="col-2">





                                    </div>

                                    <div class="col-2">
                                        <button style="margin-top: 5px"  class="btn-submit" type="submit">SEARCH MEDICINE</button>
                                    </div>
                                </div>



                            </form>
                        </div>


                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

<!-- <script src="{% about_me 'js/search_med_details.js' %}"></script> -->

<script>
var numNameFields = 1;

function addNameField() {
    var nameContainer = document.getElementById("name-container");
    var nameFieldContainer = document.createElement("div");
    nameFieldContainer.className = "presciption_classification"; // Added 'input-group' class to ensure proper alignment

    var newInput = document.createElement("input");
    newInput.className = "input--style-1";
    newInput.type = "text";
    newInput.name = "name";
    newInput.id = "name-" + numNameFields;
    newInput.value = "";
    newInput.required = true;
    newInput.oninput = function(event) {
        showWordRecommendations(event, numNameFields);
    };

    var deleteButton = document.createElement("button");
    deleteButton.type = "button";
    deleteButton.className = "btn btn-danger";
    deleteButton.textContent = "Remove";
    deleteButton.onclick = function() {
        removeNameField(newInput.id);
    };

    nameFieldContainer.appendChild(newInput);
    nameFieldContainer.appendChild(deleteButton);
    nameContainer.appendChild(nameFieldContainer);
    numNameFields++;
}

// Function to remove the clicked name field
function removeNameField(inputId) {
    var nameContainer = document.getElementById("name-container");
    var inputToRemove = document.getElementById(inputId);
    nameContainer.removeChild(inputToRemove.parentElement); // Remove the parent div containing the input and delete button
}
 


// Global variable to store timeout references for each name field
var timeouts = {};

var recommendationsHtml = "<select class=' my-custom-input-group form-select' aria-label='Default select example'  onchange='selectRecommendation()'>";
recommendationsHtml += '<option value="">USE A PROPER BRAND NAME</option>';
document.getElementById("wordRecommendations").innerHTML = recommendationsHtml;


  function showWordRecommendations(event, fieldNum) {
    var input = event.target.value.trim();


      // Clear previous timeout, if any
      clearTimeout(timeouts[fieldNum]);
      timeouts[fieldNum] = setTimeout(function() {
      // Make an AJAX call to fetch word recommendations based on the input
      var xhr = new XMLHttpRequest();
      xhr.open('GET', '/get_word_recommendations/?input=' + encodeURIComponent(input), true);
      xhr.onload = function() {




        if (xhr.status === 200) {
          var wordRecommendations = JSON.parse(xhr.responseText);
  
          // Display word recommendations in a list
          var recommendationsHtml = "<select class=' my-custom-input-group form-select' aria-label='Default select example'  onchange='selectRecommendation()'>";

          
            if (wordRecommendations.length !== 0) {
              for (var i = 0; i < wordRecommendations.length; i++) {
                var word = wordRecommendations[i];
                recommendationsHtml += '<option value="' + word + '">' + word + '</option>';
              }
            } else {
              recommendationsHtml += '<option value="">USE A PROPER BRAND NAME</option>';
            }




            recommendationsHtml += "</select>";
          document.getElementById("wordRecommendations").innerHTML = recommendationsHtml;
        } 
        
        
        
        else {
          console.error('Request failed. Status:', xhr.status);
          // Display no recommendations for error cases
          document.getElementById("wordRecommendations").innerHTML = "";
        }
      };
      xhr.onerror = function() {
        console.error('Request failed. Network error');
        // Display no recommendations for network errors
        document.getElementById("wordRecommendations").innerHTML = "";
      };
      xhr.send();
    }, 300); // Adjust the delay as needed (in milliseconds)


  }
  
// Function to select a word recommendation and populate the input field with it
function selectRecommendation() {
    var selectElement = document.querySelector("select");
    var selectedOption = selectElement.options[selectElement.selectedIndex].value;
    document.getElementById("name-" + (numNameFields - 1)).value = selectedOption;
}



function handleFormSubmit(event) {
event.preventDefault(); // Prevent the form from being submitted traditionally
handleSelectionChange();
}



</script>
</html>
{% endblock %}
