{% load about_me %}
{% include 'base.html' %}
{% block content %}
{% load custom_filters %}
{% include "MED_nav.html" %}
<html data-bs-theme="light">

<head>
    <link rel="stylesheet" href="{% about_me 'css/pricing_tables.css' %}">

  <style>
      .main-content {
          margin-left: 7.5rem; /* Adjust this value to match the width of your first div */
      }
  </style>
  <style>
    /* Define CSS styles for better visibility */
    .medication-details {
      border: 1px solid #ccc;
      padding: 10px;
      margin-bottom: 10px;
    }
  
    .medication-group {
      color: blue; /* Change the color as per your preference */
      font-weight: bold;
    }
  
    .medication-indication {
      color: green; /* Change the color as per your preference */
    }
  
    .medication-score {
      color: red; /* Change the color as per your preference */
    }


  </style>
</head>

<body>
  <div class="page cv-page main-content">
    <main class="page hire-me-page"></main>
    <div class="price-card">
      <h2>PROVIDE THE BRAND NAME OF ANY BANGLADESHI DRUG TO DET DETAILS </h2>
      <form class="border rounded border-0 shadow-lg p-3 p-md-5" data-bs-theme="light" method="POST" onsubmit="handleFormSubmit(event)">
        {% csrf_token %}

        <div class="mb-3">
          <label class="form-label" for="name">NAME OF THE DRUG</label>
          <div id="name-container">
              <div class="mb-3 input-group">
                  <input class="form-control" type="text" id="name-0" name="name" value="" required oninput="showWordRecommendations(event, 0)">
                  <button type="button" class="btn btn-primary" onclick="addNameField()">Add Another Name Field</button>
              </div>
          </div>

      </div>

      <div id="wordRecommendations"></div>

        <p id="selectedStrength"></p>
        <div id="get_presciption_classification"></div>
        <!-- Add a dropdown menu for sorting -->
        <script src="{% about_me 'js/presciption_classification.js' %}"></script>
        
<script>

function handleSelectionChange() {
  var nameInputs = document.querySelectorAll("#name-container input");
    var drugNames = [];
    for (var i = 0; i < nameInputs.length; i++) {
      drugNames.push(encodeURIComponent(nameInputs[i].value));
    }

// Make an AJAX call to fetch the medication details based on the selected strength, dosage form, and drug name
var xhr = new XMLHttpRequest();
xhr.open('GET', '/get_presciption_classification_beta/?name=' + drugNames , true);
xhr.onload = function() {
  if (xhr.status === 200) {
    var get_presciption_classification = JSON.parse(xhr.responseText);
    if (Array.isArray(get_presciption_classification) && get_presciption_classification.length > 0) {



      // Display details for each medication
      var detailsHtml = "";
      for (var i = 0; i < get_presciption_classification.length; i++) {
        var medication = get_presciption_classification[i];
        detailsHtml += "<div class='medication-details'>";
        detailsHtml += "<p><strong>BRAND NAME: </strong>" + medication.name + "</p>";
        detailsHtml += "<h4> DRUG CLASS </h4>";
        var drug_class_indication_groups = new Set();

        if (medication.heading && medication.specific_class) {

            for (var j = 0; j < medication.heading.split(",").length; j++) {
              var heading = medication.heading.split(",")[j].toUpperCase();
              var specific_class = medication.specific_class.split(",")[j];

              // Check if the group is already processed
              if (!drug_class_indication_groups.has(specific_class)) {
                detailsHtml += "<p><strong class='medication-group'>MAIN CLASS</strong>"+heading+"</p>";
                detailsHtml += "<p><strong class='medication-group'>SPECIFIC CLASS</strong>"+specific_class+"</p>";

              }
            }
        }

      
        detailsHtml += "<h4> SIDE EFECT CLASS </h4>";




        var side_effect_indication_groups = new Set();


        if (medication.side_effect_group && medication.side_effect_indication) {
            var side_effect_indication_groups = new Set();

            for (var j = 0; j < medication.side_effect_indication.split(",").length; j++) {
              var group = medication.side_effect_group.split(",")[j].toUpperCase();
              var indication = medication.side_effect_indication.split(",")[j];

              // Check if the group is already processed
              if (!side_effect_indication_groups.has(indication)) {
                detailsHtml += "<p><strong class='medication-group'>" + group + ":</strong><span class='medication-indication'>" + indication + "</span></p>";

                // Add the group to the set of processed groups for indication
                side_effect_indication_groups.add(indication);
              }
            }
          }
          else{
            detailsHtml += "<p ><strong ><span class='medication-score' class='medication-indication'>No data found</span></strong></p>";

          }

          detailsHtml += "<h4> CONTRA-INDICATIONS </h4>";

          var contraindication_groups = new Set();
          if (medication.contraindication_group && medication.contraindication_indication) {
            var contraindication_groups = new Set();

            for (var j = 0; j < medication.contraindication_indication.split(",").length; j++) {
              var group = medication.contraindication_group.split(",")[j].toUpperCase();
              var indication = medication.contraindication_indication.split(",")[j];

              // Check if the group is already processed
              if (!contraindication_groups.has(indication)) {
                detailsHtml += "<p><strong class='medication-group'>" + group + ":</strong><span class='medication-indication'>" + indication + "</span></p>";

                // Add the group to the set of processed groups for indication
                contraindication_groups.add(indication);
              }
            }
          }
          else {
            detailsHtml += "<p ><strong ><span class='medication-score' class='medication-indication'>No data found</span></strong></p>";
          }
          if (medication.contraindication_result) {

            for (var j = 0; j < medication.contraindication_result.split(",").length; j++) {
              var result = medication.contraindication_result.split(",")[j];
              detailsHtml += "<p><strong class='medication-score'>SUMMERY: </strong>" + result + "</p>";
            }
          }



        // Add more fields here
        detailsHtml += "</div>";
        detailsHtml += "<hr>";
      }
      document.getElementById("get_presciption_classification").innerHTML = detailsHtml;
    }
    
    else {
      // Display "No data found" message
      document.getElementById("get_presciption_classification").innerHTML = "<p>No data found</p>";
    }
  } else {
    console.error('Request failed. Status:', xhr.status);
    // Display "No data found" message for error cases
    document.getElementById("get_presciption_classification").innerHTML = "<p>No data found</p>";
  }
};
xhr.onerror = function() {
  console.error('Request failed. Network error');
  // Display "No data found" message for network errors
  document.getElementById("get_presciption_classification").innerHTML = "<p>No data found</p>";
};
xhr.send();
}




</script>

          
            <div class="mb-3">

            </div>
            
            <div class="mb-3">
                <div class="row">
                    <div class="col-md-12 button">
                      <div class="d-flex align-items-center justify-content-center">

                        <button class="btn btn-primary d-block w-50" type="submit" style="font-size: 12px;">
                          <strong><span style="color: rgb(252, 249, 249);">GET MEDICINE DETAILS</span></strong>
                        </button>
                         </form>

                         <!-- Using anchor tag to create a link that turns red on hover -->
                        <a href="{% url 'medicine_chatbot' %}" class="btn btn-warning d-block w-50 custom-button" style="font-size: 12px;">
                          <strong><span style="color: rgb(245, 244, 244);">TALK WITH YOUR MEDICINES</span></strong>
                          
                        </a>


                      </div>  
                    </div>

         
                </div>
            </div>

    </div>
  </div>
</body>

</html>

{% endblock %}
