{% include 'base.html' %}
{% block content %}


  <div class="col-md-6 offset-md-3">
    <h1>PERSONAL HOME</h1>

    <button type="button" class="btn btn-sm btn btn-info">
      <a href="{% url 'add_event' %}" style="color: inherit; text-decoration: none;">ADD EVENT</a>
    </button>

  </div>  

  </div>
  <button type="button" class="btn btn-sm btn-info">
    <a href="{% url 'event' current_year current_month %}" style="color: inherit; text-decoration: none;">CURRENT EVENT</a>
  </button>
  </div>

{% endblock%}
