{% include 'base.html'%}
{% block content %}
<div class="col-md-6 offset-md-3">

<div class="card text-dark bg-info mb-3" style="width: 18rem;">
    <!-- <img src="..." class="card-img-top" alt="..."> -->
    <div class="card-body">
      <h5 class="card-title">INDEVISUAL RECORD</h5>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item"><strong> FIRST NAME :</strong>{{record.first_name}}</li>
      <li class="list-group-item"><strong> LAST NAME :</strong>{{record.last_name}}</li>
      <li class="list-group-item"><strong> EMAIL :</strong>{{record.email}}</li>
        <li class="list-group-item"><strong> PHONE NO :</strong>{{record.phone}}</li>
        <li class="list-group-item"><strong> ADDRESS :</strong>{{record.address}}</li>
        <li class="list-group-item"><strong> CITY :</strong>{{record.city}}</li>
        <li class="list-group-item"><strong> ZIP CODE :</strong>{{record.zipcode}}</li>
        <li class="list-group-item"><strong> COUNTRY :</strong>{{record.country}}</li>
        <li class="list-group-item"><strong> CREATION EVENT :</strong>{{record.created_at}}</li>
    </ul>
</div>
<button type="button" class="btn btn-sm btn-danger">
    <a href="{% url 'delete_record' %}" style="color: inherit; text-decoration: none;">DELETE RECORD</a>
</button>

<button type="button" class="btn btn-sm btn-warning">
    <a href="{% url 'update_record' %}" style="color: inherit; text-decoration: none;">UPDATE RECORD</a>
</button>
  
  
{% endblock %}