{% load about_me %}
{% include 'base.html' %}
{% block content %}
{% load custom_filters %}
{% include "MED_nav.html" %}
<html data-bs-theme="light">

<head>
    <link rel="stylesheet" href="{% about_me 'css/pricing_tables.css' %}">
    <link rel="stylesheet" href="{% about_me 'css/search.css' %}">


    <style>
      .main-content {
          margin-left: 7.5rem; /* Adjust this value to match the width of your first div */
      }
  </style>
</head>

<body>
  <div class="page cv-page main-content">
    <main class="page hire-me-page"></main>
    <div class="price-card">

            <div class="mb-3">

            </div>
            



            <div class="mb-3">

            </div>



            <div class="mb-3">

            </div>


            <select id="sortOption">
              <option value="default">Default</option>
              <option value="priceAsc">Price (Low to High)</option>
              <option value="priceDesc">Price (High to Low)</option>
            </select>

            <div id="medicationDetails"></div>
            <!-- Add a dropdown menu for sorting -->

          
            <div class="mb-3">

            </div>
            
            <div class="mb-3">
                <div class="row">
                    <div class="col-md-12 button">
                      <div class="d-flex align-items-center justify-content-center">
                        
                      </div>  
                    </div>
                </div>
            </div>
    </div>
  </div>
</body>


<script src="{% about_me 'js/search_results.js' %}"></script>



</html>

{% endblock %}




