{% load about_me %}
{% include 'base.html' %}
{% block content %}
{% load custom_filters %}
<!DOCTYPE html>
<html lang="en">

<head>
    <link href="{% about_me 'css/full_search.css' %}" rel="stylesheet" media="all">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<style>



</style>


</head>


<body>
    <div class="page-wrapper bg-img-1 p-t-200 p-b-120" style="background: url(&quot;{% about_me 'img/bg-img-01.jpg' %}&quot;) center / cover no-repeat;">
        <div class="wrapper wrapper--w900">
            <div class="card card-4">
                <div class="card-body">


                    <ul class="tab-list">
                        <li class="tab-list__item active">
                            <a class="tab-list__link" href="#tab1" data-toggle="tab">DRUG SEARCH/DETAILS DETAILS</a>
                        </li>
                        <li class="tab-list__item">
                            <a class="tab-list__link" href="#tab2" data-toggle="tab">DRUG DETAILS</a>
                        </li>
                    </ul>




                    <div class="tab-content">

                        <div class="tab-pane active" id="tab1">
                            <form method="POST" id="med_search_form" action="#">
                                {% csrf_token %} 

                                <div class="input-group input-group-big">
                                    <label class="form-label input-group-text label">provide the name of drug:</label>
                                    <input type="text" class="input--style-1" id="name" name="name" value="{{ name_of_medication }}" placeholder="NAME OF THE DRUG e.g:NAPA" required="required" oninput="showWordRecommendations()">
                                </div>


                                
                                <div class="row row-space">
                                    <div class="col-2" >
                                        
                                        <div id="wordRecommendations"></div>

                                    </div>

                                    {% if strengths %}
                                    <div class="col-2">
                                        <div class="input-group">
                                            <label class="form-label input-group-text label">select the strength(optional):</label>

                                            <select class="form-select" id="strength" name="strength" onchange="handleSelectionChange()">
                                                <optgroup label="Strength">
                                                  <option value="">None</option>
                                                  {% for strength in strengths %}
                                                    <option value="{{ strength }}">{{ strength }}</option>
                                                  {% endfor %}
                                                </optgroup>
                                              </select>
                                        
                                        
                                        </div>
                                    </div>
                                    {% endif %}


                                </div>


                                <div class="row row-space">

                                    {% if dosage_forms %}

                                    <div class="col-2">


                                        <div class="input-group">
                                            <label class="form-label input-group-text label">select the strength(optional):</label>

                                            <select class="form-select" id="dosage_form" name="dosage_form" onchange="handleSelectionChange()">
                                                <optgroup label="dosage_form">
                                                  <option value="">None</option>
                                                  {% for dosage_form in dosage_forms %}
                                                    <option value="{{ dosage_form }}">{{ dosage_form }}</option>
                                                  {% endfor %}
                                                </optgroup>
                                              </select>
                                        
                                        
                                        </div>



                                    </div>
                                    {% else %}



                                    {% endif %}

                                    <div class="col-2">
                                        <button style="margin-top: 5px" class="btn-submit" type="submit">get med details</button>
                                        <button style="margin-top: 5px"  class="btn-submit" type="submit">SEARCH MEDICINE</button>
                                    </div>
                                </div>

                            </form>
                        </div>

















                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

<script src="{% about_me 'js/search.js' %}"></script>


</html>
{% endblock %}
