<!DOCTYPE html>
<html data-bs-theme="light" lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>home</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/Articles-Badges-images.css">
    <link rel="stylesheet" href="assets/css/Contact-Details-icons.css">
    <link rel="stylesheet" href="assets/css/footer-copyright_bar.css">
    <link rel="stylesheet" href="assets/css/Ludens-Users---3-Profile.css">
    <link rel="stylesheet" href="assets/css/Profile-Picture-With-Badge-profile-pic-with-badge.css">
    <link rel="stylesheet" href="assets/css/Profile-Picture-With-Badge.css">
    <link rel="stylesheet" href="assets/css/Soft-UI-Aside-Navbar.css">
</head>

<body>
    <section class="py-4 py-xl-5">
        <div class="container">
            <div class="bg-dark border rounded border-0 border-dark overflow-hidden">
                <div class="row g-0">
                    <div class="col-md-6">
                        <div class="text-white p-4 p-md-5">
                            <h2 class="fw-bold text-white mb-3">WE AER BUILDING COMMUNITY</h2>
                            <p class="mb-4"><span style="color: rgb(245, 241, 241);">CURRENT&nbsp; SERVICE: BANGLA</span>&nbsp;<span style="color: rgb(252, 247, 247);">OCR</span></p>
                            <div class="my-3"><a class="btn btn-primary btn-lg me-2" role="button" href="#">LOGIN</a><a class="btn btn-light btn-lg" role="button" href="#">REGISTER</a></div>
                        </div>
                    </div>
                    <div class="col-md-6 order-first order-md-last" style="min-height: 250px;"><img class="w-100 h-100 fit-cover" src="assets/img/boi.jpg"></div>
                </div>
            </div>
        </div>
    </section>
    <section class="py-4 py-xl-5">
        <div class="container">
            <div class="text-center p-4 p-lg-5">
                <p class="fw-bold text-primary mb-2"></p>
                <h1 class="fw-bold mb-4">NEW FEATURES WILL BE ADDED :</h1><button class="btn btn-primary fs-5 me-2 py-2 px-4" type="button">ABOUT US</button><button class="btn btn-light fs-5 py-2 px-4" type="button">SPONSOURS</button>
            </div>
        </div>
    </section>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>