#antbits-bmi-results_what>a:hover {
    background-color: #D9DDE0;
    text-decoration: underline;
    border-bottom: 0.2em solid #D9DDE0;
}

#antbits-bmi-tabgroup button:hover:not(.antbits-bmi-tab_selected),
.keynav #antbits-bmi-tabgroup button:focus:not(.antbits-bmi-tab_selected) {
    box-shadow: none;
    background-color: #FFEB3B;
    color: #212B32;
    text-decoration: underline;
}