@font-face {
	font-family: 'Material-Design-Iconic-Font';
	src: url(../../assets/fonts/Material-Design-Iconic-Font.woff2?v=2.2.0) format('woff2'),
	url(../../assets/fonts/Material-Design-Iconic-Font.woff?v=2.2.0) format('woff'),
	url(../../assets/fonts/Material-Design-Iconic-Font.ttf?v=2.2.0) format('truetype');
	font-weight: 400;
	font-style: normal;
	font-display: auto;
}