{% include 'base_ex_nav.html' %}

{% block content %}

<div class="container">
  <div class="row d-flex d-xl-flex justify-content-center justify-content-xl-center">
    <div class="col-sm-12 col-lg-10 col-xl-9 col-xxl-7 bg-white shadow-lg" style="border-radius: 5px;">
      <div class="p-5">
        <div class="text-center">
          <h4 class="text-dark mb-4">Login</h4>
        </div>
        <form method="post" action="{% url 'login_user' %}">
          {% csrf_token %}
          {{ form.as_p }}
      
          <div class="mb-3">
            <input type="text" class="form-control" name="name" placeholder="name" required>
          </div>
          <div class="mb-3">
            <input type="password" class="form-control" name="password" placeholder="password" required>
          </div>
          <button type="submit" class="btn btn-primary">LOGIN</button>
        </form>
      </div>
    </div>
  </div>
</div>

{% endblock %}




