{% include 'base.html' %}
{% block content %}


<div class="container">
    <div class="row d-flex d-xl-flex justify-content-center justify-content-xl-center">
      <div class="col-sm-12 col-lg-10 col-xl-9 col-xxl-7 bg-white shadow-lg" style="border-radius: 5px;">
        <div class="p-5">
          <div class="text-center">
            <h4 class="text-dark mb-4">PROFILE PIC</h4>
<div class="col-md-6 offset-md-3">
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary">ADD/UPDATE PHOTO</button>
    </form>
</div>
            </div>
            </div>
        </div>
        </div>
    </div>

{% endblock %}
