@import url(https://assets.nhs.uk/fonts/nhsuk-fonts-1.1.0.css);
#tool_bmi {
    font-family: Frutiger W01, Arial, sans-serif;
    -webkit-text-size-adjust: none;
    background-color: #FFF;
    font-size: 16px !important;
    font-size: 1em;
    max-width: 630px;
    margin: 2em auto 0 auto;
}

#tool_bmi button {
    border: none;
    cursor: pointer;
}

#antbits-bmi-accessibility-alert {
    position: absolute;
    top: -999px;
}

#tool_bmi a:hover,
#tool_bmi a:focus,
#tool_bmi button:hover,
#tool_bmi button:focus {
    box-shadow: none !important;
    outline: none;
}

#tool_bmi fieldset {
    padding: 0em;
    margin: 0em;
    border: none;
}

#tool_bmi legend {
    display: none;
}

#tool_bmi div,
#tool_bmi a,
#tool_bmi button,
#tool_bmi span,
#tool_bmi p {
    -webkit-text-size-adjust: none;
}

#tool_bmi div,
#tool_bmi button,
#tool_bmi p,
#tool_bmi label {
    margin-top: 0em;
    color: #212B32;
}

#tool_bmi a {
    margin-top: 0em;
    color: #005eb8;
}

#tool_bmi label {
    display: block;
}

#tool_bmi .antbits-accessible_hidden {
    opacity: 0.001;
    overflow: hidden;
    width: 0em;
    height: 0em;
    margin: 0em;
    padding: 0em;
}

#tool_bmi div,
#tool_bmi p {
    color: #212B32;
}

#tool_bmi div,
#tool_bmi input,
#tool_bmi label {
    box-sizing: border-box;
}

#tool_bmi p {
    font-size: 1.2em;
}

#antbits-bmi-main {
    border: 0.25em solid #ef2308;
    background-color: #f2e20441;
}

#antbits-bmi-head {
    background-color: #621984;
    padding: 0.5em 0.5em 0.5em 0.5em;
    margin: 0em;
    color: #FFF;
    font-size: 2em;
}

#antbits-bmi-inner {
    white-space: nowrap;
    vertical-align: top;
    overflow: hidden;
    position: relative;
}

.antbits-bmi-page {
    padding: 0.75em 1.25em 1.6em 1.25em;
    width: 100%;
    margin: 0% 0% 0% 0%;
    display: inline-block;
    vertical-align: top;
    white-space: normal;
}

#antbits-bmi-preload {
    position: absolute;
    bottom: 0em;
    right: 0em;
    top: 0em;
    left: 0em;
    background-color: #FFF;
    display: none;
    opacity: 0;
    background-image: url(../images/preloader.gif);
    background-position: center 100px;
    background-size: 70px 70px;
    background-repeat: no-repeat;
}

#tool_bmi .antbits-bmi-form-advice {
    line-height: 1.5em;
    margin: 1em 0em 1.5em 0em;
}

#antbits-bmi-tabgroup {
    white-space: nowrap;
    position: relative;
}

#antbits-bmi-tabgroup::after {
    content: "";
    width: 100%;
    height: 0.25em;
    background-color: #004b93;
    position: absolute;
    left: 0;
    bottom: 0;
}

#antbits-bmi-tabgroup button {
    display: inline-block;
    width: calc(50% - 0.3em);
    padding: 0.3em 0em 0.2em 0em;
    color: #FFF;
    border-radius: 0.5em 0.5em 0em 0em;
    border-bottom: none;
    text-align: center;
    text-decoration: none;
    font-size: 1.6em;
    line-height: 1.6em;
    background-color: #768692;
}

#antbits-bmi-tabgroup button:last-of-type {
    position: absolute;
    bottom: 0em;
    right: 0em;
}

.antbits-bmi-tab_selected,
.antbits-bmi-tab_selected:hover,
.antbits-bmi-tab_selected:focus {
    background-color: #005eb8 !important;
    color: #FFF;
     !important;
    cursor: default;
}

#antbits-bmi-tabgroup button:first-of-type {
    margin: 0em 0.3em 0em 0em;
}

#antbits-bmi-tabgroup button:last-of-type {
    margin: 0em 0em 0em 0.3em;
}

.antbits-bmi-form_section {
    padding: 0em 0em 1.75em 0em;
    margin: 1.75em 0em 0em 0em !important;
    border-bottom: 0.1em solid #c9ced3;
    position: relative;
}

#tool_bmi .antbits-bmi-form_section::not(label) p {
    display: block;
    color: #4C6272;
    font-size: 1.2em;
    margin: 1em 0em 1em 0em;
}

#tool_bmi .antbits-bmi-form_section p.antbits-bmi-hint {
    margin: -0.5em 0em 1em 0em;
}

.antbits-bmi-form_section_title {
    font-size: 1.5em;
    line-height: 1.5em;
    font-weight: 600;
    margin-bottom: 0.5em;
}

.antbits-bmi-form_section_units {
    position: absolute;
    right: 0px;
    top: 0.5em;
    font-size: 1.2em;
    color: #005EB8 !important;
    background-color: transparent !important;
    text-decoration: underline;
}

.antbits-bmi-std_btn:focus {
    background-color: #006747;
}

.antbits-bmi-reset_btn:hover,
.antbits-bmi-reset_btn:focus,
.antbits-bmi-form_section_units:hover,
.antbits-bmi-dl_launch:hover,
.antbits-bmi-form_section_units:focus,
.antbits-bmi-dl_launch:focus {
    color: #212B32 !important;
    background-color: #ffeb3b !important;
}

.antbits-bmi-hidden {
    display: none;
}

.antbits-bmi-form_section input {
    margin: 0em;
    border-radius: 8px;
    border: 0.1em solid #4C6272;
    font-size: 1.5em;
    line-height: 1.5em;
    text-align: center;
    padding: 0.3em;
    width: 100%;
    background-image: url(../images/input_bg.png);
    background-repeat: repeat-x;
    background-position: top center;
    background-size: 100% 60px;
}

.antbits-bmi-form_section select {
    margin: 0.2em 0em 0em 0em;
    border-radius: 8px;
    border: 0.1em solid #4C6272;
    font-size: 1.2em;
    line-height: 1.75em;
    padding: 0.4em 0.6em 0.4em 0.6em;
    width: 100%;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-image: url(../images/select_bg.png);
    background-repeat: no-repeat;
    background-position: top right;
    background-size: cover;
}

select::-ms-expand {
    display: none;
}

.antbits-bmi-form_section input:focus,
.antbits-bmi-form_section select:focus {
    outline: none;
}

.antbits-bmi-form_section input:focus {
    margin: -0.05em -0.05em -0.05em -0.05em;
    border: 0.15em solid #212B32;
    -webkit-box-shadow: 0em 0em 0em 0.15em rgba(255, 235, 59, 1);
    -moz-box-shadow: 0em 0em 0em 0.15em rgba(255, 235, 59, 1);
    box-shadow: 0em 0em 0em 0.15em rgba(255, 235, 59, 1);
}

.keynav .antbits-bmi-form_section select:focus {
    border: 0.15em solid #ffeb3b;
    margin-top: 0.1em;
}

.antbits-bmi-form_section_layer {
    position: absolute;
    left: 0;
    bottom: 2em;
    width: 100%;
    height: 6em;
}

.antbits-bmi-form_section_layer>div {
    position: absolute;
    top: 0;
    left: 0;
}

.antbits-bmi-form_section_layer>div:last-of-type {
    left: calc(25% + 0.5em);
}

.antbits-bmi-form_section_layer>div:first-of-type {
    left: 0%;
}

.antbits-bmi-form_section_layer>button {
    position: absolute;
    top: -2em;
    right: 0;
}

.antbits-bmi-form_section_layer>div,
.antbits-bmi-form_section_inner>div {
    display: inline-block;
    width: 25%;
    min-width: 100px;
    margin: 0.625em 0.375em 0em 0.125em !important;
}

.antbits-bmi-form_section_label {
    color: #4C6272 !important;
    font-size: 1.2em;
    margin: 0em 0em 0.625em 0em;
}

#antbits-bmi-form_height,
#antbits-bmi-form_weight {
    height: 10.625em;
}

.antbits-bmi-form_section_inner {
    white-space: nowrap;
}

#antbits-bmi-form_dob .antbits-bmi-form_section_inner>div,
#antbits-bmi-form_dom .antbits-bmi-form_section_inner>div {
    width: 15%;
}

#tool_bmi .radios_item {
    font-size: 1em;
    margin: 1.5em 0 1.5em 0;
    padding: 0;
}

#tool_bmi label {
    padding: 0;
}

#tool_bmi label p {
    margin: 0;
    padding: 0;
    font-size: 1em;
    line-height: 1.25em;
}

#tool_bmi label p:last-of-type {
    margin: 0;
    color: #4C6272;
}

#tool_bmi .radios_item:first-of-type {
    margin-top: 0;
}

#tool_bmi .radios_item:last-of-type {
    margin-bottom: 0;
}

#tool_bmi [type="radio"]:checked,
#tool_bmi [type="radio"]:not(:checked) {
    position: absolute;
    left: 0.5em;
    margin-top: 0.5em;
    width: auto;
    opacity: 0;
}

#tool_bmi [type="radio"]:checked+label,
#tool_bmi [type="radio"]:not(:checked)+label {
    position: relative;
    padding-left: 2.8em;
    font-size: 1.2em;
    cursor: pointer;
    line-height: 2em;
    display: inline-block;
}

#tool_bmi [type="radio"]:checked+label:before,
#tool_bmi [type="radio"]:not(:checked)+label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 2em;
    height: 2em;
    border: 0.15em solid #4C6272;
    border-radius: 100%;
    background: #fff;
    box-sizing: border-box;
}

#tool_bmi [type="radio"]:checked+label:after,
#tool_bmi [type="radio"]:not(:checked)+label:after {
    content: '';
    width: 0;
    height: 0;
    background: #212b32;
    border: 0.5125em solid #212b32;
    position: absolute;
    top: 0.4875em;
    left: 0.4875em;
    border-radius: 100%;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

#tool_bmi [type="radio"]:checked+label:before {
    border: 0.2em solid #212b32;
    box-shadow: 0 0 0 0.15em #FFEB3B;
}

#tool_bmi [type="radio"]:not(:checked)+label:after {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
}

#tool_bmi [type="radio"]:checked+label:after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}

#tool_bmi.keynav [type="radio"]:not(:checked):focus+label:before,
#tool_bmi [type="radio"]:not(:checked):hover+label:before {
    box-shadow: 0 0 0 0.15em #FFEB3B;
}

#tool_bmi.keynav [type="radio"]:checked:focus+label:before,
#tool_bmi [type="radio"]:checked:hover+label:before {
    box-shadow: 0 0 0 0.15em #FFEB3B;
}

#tool_bmi.keynav .bmi-locked [type="radio"]:checked:focus+label:before {
    box-shadow: none !important;
}

.antbits-bmi-dl_launch {
    color: #005EB8 !important;
    margin: 1em 0em 1em 0em !important;
    display: inline-block;
    font-size: 1.2em;
}

.antbits-bmi-dl_launch:hover,
.antbits-bmi-dl_launch:focus {
    background-color: transparent;
}

#antbits-bmi-validate button:focus span {
    outline: none;
    padding: 0.25em;
    margin: -0.25em;
}

.antbits-bmi-std_btn {
    display: inline-block;
    color: #FFF !important;
    margin: 1.75em 0em 0em 0em !important;
    padding: 0.4em 0.75em 0.4em 0.75em;
    font-size: 1.5em;
    line-height: 1.5em;
    background-color: #007F3B;
    text-decoration: none;
    border-bottom: 0.15em solid #212b32 !important;
    border-radius: 0.2em;
}

.antbits-bmi-std_btn:hover {
    background-color: #006747;
    text-decoration: underline;
}

.antbits-bmi-std_btn:focus {
    background-color: #FFEB3B;
    text-decoration: none;
    color: #212b32 !important;
}

#antbits-bmi-reset_btn {
    display: inline-block;
    float: right;
    margin: 2.5em -0.5em 0.5em 1.25em !important;
    padding: 0.5em;
    font-size: 1.2em;
    line-height: 1.25em;
    color: #005EB8 !important;
    background-color: transparent;
    text-decoration: underline;
}

.antbits-bmi-form_alert #antbits-bmi-age {
    margin-top: 0px;
}

.antbits-bmi-spacer {
    height: 0.0625em;
    width: 0.0625em;
}

#antbits-bmi-validate {
    font-size: 1.2em;
    line-height: 1.5em;
    font-weight: bold;
    padding: 0em;
    overflow: hidden;
    height: 0em;
    display: none;
}

#antbits-bmi-validate>span {
    display: block;
    margin: 0.75em 0em -0.2em 0em;
    width: 2.5em;
    height: 2.5em;
    background-color: #C83B2B;
    background-image: url(../images/alert.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}

#antbits-bmi-validate>p {
    border-top: 0.2em solid #C83B2B;
    margin: 0em 0em 0.75em 0em;
    padding: 0.625em 0em 0em 0em;
    font-size: 1.2em;
    line-height: 1.5em;
    font-weight: bold;
}

.antbits-bmi-form_invalid {
    line-height: 1.875em;
    font-size: 1.2em;
    height: 0em;
    overflow: hidden;
    font-weight: bold;
    opacity: 0;
    padding: 0em !important;
    margin-top: 0em !important;
}

.antbits-bmi-form_invalid>div {
    padding: 0.75em;
    position: absolute;
    top: 2.65em;
    left: 0em;
    border-radius: 50%;
    background-color: #C83B2B;
    background-image: url(../images/alert_sml.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center center;
    margin: 0em 0.625em -0.4375em 0em !important;
    opacity: inherit;
}

.antbits-bmi-form_invalid span {
    display: inline-block;
    margin-left: 2.1em;
}

#antbits-bmi-validate>div>button {
    display: block;
    margin: 0.3em 0em 0.3em 0em;
    padding: 0;
    text-align: left;
    font-weight: normal;
    color: #005EB8;
    background-color: transparent;
    text-decoration: underline;
    font-size: 1em;
    line-height: 1.75em;
}

#antbits-bmi-validate>div>button:hover,
#antbits-bmi-validate>div>button:focus {
    text-decoration: none;
    background-color: transparent;
}

#antbits-bmi-validate>div>button>div {
    width: 1.5em;
    height: 1.5em;
    display: inline-block;
    border-radius: 50%;
    background-color: #C83B2B;
    background-image: url(../images/alert_sml.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center center;
    margin: 0em 0.625em -0.4375em 0em;
}

.antbits-bmi-form_alert input {
    margin: -0.05em;
    border: 0.15em solid #C83B2B;
}

.antbits-bmi-section_alert {
    background-color: #FFF;
    width: 0.375em;
    position: absolute;
    bottom: 28px;
    top: 40px;
    left: -15px;
}

#tool_bmi .antbits-bmi-disclaimer-section {
    margin-top: 1em;
}

#tool_bmi .antbits-bmi-disclaimer-section p {
    font-size: 1em;
    margin-bottom: 1em;
}

.antbits-bmi-form_alert .antbits-bmi-section_alert {
    background-color: #C83B2B;
}

#antbits-bmi-form_dom_select {
    border-bottom: none;
}

.antbits-bmi-input_exclude {
    border: 0.15em solid #768692 !important;
    margin: 0em;
}

.antbits-bmi-closed {
    overflow: hidden;
    height: 0em;
    margin: 0em !important;
    padding: 0em !important;
}

.antbits-bmi-open {
    overflow: visible;
    height: 0em;
    margin: 0em !important;
    padding: 0em !important;
}

#antbits-bmi-back_btn {
    font-size: 1.2em;
    color: #005eb8 !important;
    padding-left: 1.5em;
    background-color: transparent;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' version='1.1' viewBox='0 0 100 100' %3E%3Cpolyline points='90,56,34,56 54,76 34,76,10,50 34,24 54,24,34,44 90,44 90,56' fill='%23005eb8'/%3E%3C/svg%3E");
    background-position: left 0.15em !important;
    background-repeat: no-repeat !important;
    display: inline-block;
    line-height: normal;
    background-size: 1.35em 1.35em;
    top: 0;
    left: 0;
    padding: 0.25em 0.15em 0.15em 1.5em;
    margin: -0.15em 0 0.2em 0em;
    text-decoration: underline;
}

#antbits-bmi-back_btn:hover {
    color: #7C2855;
    text-decoration: none;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' version='1.1' viewBox='0 0 100 100' %3E%3Cpolyline points='90,56,34,56 54,76 34,76,10,50 34,24 54,24,34,44 90,44 90,56' fill='%237C2855'/%3E%3C/svg%3E");
}

#antbits-bmi-back_btn:focus {
    background-color: #ffeb3b;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' version='1.1' viewBox='0 0 100 100' %3E%3Cpolyline points='90,56,34,56 54,76 34,76,10,50 34,24 54,24,34,44 90,44 90,56' fill='%23212B32'/%3E%3C/svg%3E");
    border-bottom: 0.15em solid #212B32;
    text-decoration: none;
    margin-bottom: 0.6em;
}

#antbits-bmi-results_head {
    position: relative;
    margin: 0;
}

#antbits-bmi-results_head>div>div {
    width: auto;
    line-height: 1.6em;
    font-size: 1.3em;
}

#antbits-bmi-results_head .antbits-bmi-result_header_1 {
    font-size: 3.6em;
    margin: 0em;
}

#antbits-bmi-results_head .antbits-bmi-result_header_1>span {
    color: #4C6272 !important;
    font-size: 0.36em;
    font-weight: normal;
}

#antbits-bmi-results_head .antbits-bmi-result_header_1>strong {
    font-size: 0.36em;
    font-weight: bold;
    margin-right: 0.3em;
}

#antbits-bmi-results_bar_pointer {
    background-image: url(../images/pointer.png);
    background-repeat: no-repeat;
    background-position: 0% top;
    background-size: 0.875em 1.25em;
    height: 1.25em;
    width: calc(100% + 0.875em);
    margin: 1.25em -0.4375em 0em -0.4375em !important;
}

#antbits-bmi-results_bar_bg {
    background-image: url(../images/slider_adult_1.png);
    background-size: 100% 100%;
    height: 1.5em;
    width: 100%;
    margin: 0em 0em 0em 0em !important;
    position: relative;
}

.antbits-bmi-marker {
    height: 1.25em;
    width: 0.0625em;
    position: absolute;
    top: 0px;
    left: 0%;
    border-left: 1px solid #212B32;
    font-size: 0.5em;
}

#antbits-bmi-results_bar_labels {
    height: 2.5em;
    width: 100%;
    position: relative;
}

#antbits-bmi-results_bar_labels>div {
    position: absolute;
    top: 0px;
    left: 0%;
    border-left: 1px solid #212B32;
    height: 0.9375em;
}

#antbits-bmi-results_bar_labels>div>div {
    position: absolute;
    top: 18px;
    left: -20px;
    width: 2.5em;
    text-align: center;
    font-size: 1em;
}

#antbits-bmi-results_bar_caption {
    padding: 0.625em 0em 1.25em 0em;
    font-size: 1.2em;
    line-height: 1.85em;
    color: #4C6272 !important;
}

#antbits-bmi-results_bar_caption.antbits-bmi-child div {
    color: #4C6272 !important;
}

#antbits-bmi-results_info {
    background-color: #F0F4F5;
    border-top: 0.3em solid #D9DDE0;
    padding: 0em 1.2em 1.2em 1.2em;
}

#antbits-bmi-results_info p {
    font-size: 1.2em;
    line-height: 1.6em;
}

#antbits-bmi-results_info p:first-of-type {
    margin-top: 1.25em;
}

#antbits-bmi-results_info h3 {
    margin: 1.875em 0em 1em 0em;
    padding: 0em;
    font-size: 1.375em;
}

#antbits-bmi-results_info>p>p {
    margin: 1.25em 0em 1.25em 0em;
    display: block;
}

#antbits-bmi-results_info>p>p:last-of-type {
    margin: 1.25em 0em 0em 0em;
}

#antbits-bmi-results_info>span {
    display: block;
    margin: -4.6em 0em 0em -1.3em;
    width: 3.125em;
    height: 3.125em;
    background-color: #005EB8;
    background-image: url(../images/info.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}

.antbits-bmi-result_header_2 strong {
    white-space: nowrap;
}

#antbits-bmi-results_content_title {
    font-size: 1.875em;
    font-weight: 600;
    margin-top: 3em;
}

#antbits-bmi-results_content {
    white-space: nowrap;
    vertical-align: top;
    margin: 1.25em -0.625em 0em -0.625em !important;
}

#antbits-bmi-results_content>div {
    width: 33.33%;
    display: inline-block;
    white-space: normal;
    vertical-align: top;
    padding: 0em 0.625em 0.625em 0.625em;
    border-right: 0.1em solid #C8CFD3;
    text-align: left;
}

#antbits-bmi-results_content>div p {
    line-height: 1.5em;
}

.antbits-bmi-results_content_end {
    border-right: none !important;
}

#antbits-bmi-results_content>div>a {
    display: block;
    margin: 1.25em 0em 0.625em 0em !important;
    font-size: 1.2em;
    line-height: 1.5em;
    color: #005eb8;
}

#antbits-bmi-results_content>div>a:visited {
    color: #330072;
}

#antbits-bmi-results_content>div>a:hover {
    background-color: transparent;
}

#antbits-bmi-results_content>div>a:focus {
    background-color: transparent;
    margin: 1.25em 0em 0.475em 0em !important;
}

#antbits-bmi-results_content>div>img {
    width: 100%;
}

#syndication_branding {
    text-align: right;
    display: block;
}

#syndication_branding>img {
    height: 2.5em;
    width: 11.4375em;
    margin: 0em;
    padding: 0.3125em;
    background-color: #FFF;
}

#antbits-bmi-form_activity p:first-of-type {
    margin-bottom: 0.5em;
}

#antbits-bmi-form_activity label>p:first-of-type {
    margin-bottom: 0em;
}

/*Detail drop downs*/

#tool_bmi summary,
#tool_bmi .bmi-edge-summary {
    margin: 0em 0em 0em 0em;
    line-height: 1.4em;
    background-color: transparent;
}

#tool_bmi summary:focus {
    outline: none;
}

#tool_bmi summary::before,
.bmi-edge-summary::before {
    content: "►";
    position: absolute;
    top: 0.25em;
    left: 0.1em;
}

#tool_bmi .bmi-open summary::before,
.bmi-open .bmi-edge-summary::before {
    content: "▼"
}

#tool_bmi summary,
#tool_bmi .bmi-edge-summary {
    color: #005eb8;
    white-space: nowrap;
    display: inline-block;
    padding: 0.1em 0.1em 0.1em 1.4em;
    cursor: pointer;
    font-size: 1.2em;
}

#tool_bmi summary>span,
#tool_bmi .bmi-edge-summary>span {
    text-decoration: underline;
    display: inline-block;
    vertical-align: top;
    white-space: normal;
    box-sizing: inherit;
    padding-left: 0.25em;
    padding-right: 0.5em;
    padding-top: 0.15em;
    white-space: nowrap;
}

#tool_bmi .antbits-bmi-form_section summary>span,
#tool_bmi .antbits-bmi-form_section .bmi-edge-summary>span {
    margin-left: -0.3em;
}

#tool_bmi .bmi-edge-summary>span {
    margin-left: 0em;
    position: relative;
}

#tool_bmi details summary::-webkit-details-marker {
    display: none;
}

/*
@-moz-document url-prefix() {
	#tool_bmi summary>span, #tool_bmi .bmi-edge-summary>span{
		margin-left:1.3em;
	}
	#tool_bmi summary::before{
		content:"►";
		position:absolute;
		top:0.2em;
	}
	#tool_bmi .bmi-open summary::before{
		content:"▼";
	}
	#tool_bmi #antbits-bmi-results_what summary::before, #tool_bmi #antbits-bmi-results_what .bmi-open summary::before{
		content:"";
	}
}*/

#tool_bmi #antbits-bmi-results_what summary::before,
#tool_bmi #antbits-bmi-results_what .bmi-open summary::before {
    content: "";
}

#tool_bmi summary:hover>span,
#tool_bmi .bmi-edge-summary:hover>span,
#tool_bmi summary:focus>span,
#tool_bmi .bmi-edge-summary:focus>span {
    text-decoration: none;
}

#tool_bmi summary:hover,
#tool_bmi .bmi-edge-summary:hover {
    color: #7C2855;
}

#tool_bmi summary:focus,
#tool_bmi .bmi-edge-summary:focus {
    color: #212B32;
    background-color: #FFEB3B;
    outline: none;
    border-bottom: solid #212B32 0.2em;
    margin-bottom: -0.2em;
}

#tool_bmi .bmi-locked summary:focus,
#tool_bmi .bmi-locked summary:hover {
    color: #005eb8;
    background-color: transparent;
}

#tool_bmi .bmi-locked summary:focus>span,
#tool_bmi .bmi-locked summary:hover>span {
    text-decoration: underline;
}

#tool_bmi details,
#tool_bmi .bmi-edge-details {
    position: relative;
    clear: left;
    display: inline-block;
    width: 100%;
    margin: 0 0 1em 0;
}

#tool_bmi details ul {
    font-size: inherit;
    margin: 0.5em 0em 0.5em 0.5em;
}

#tool_bmi details[open]>div {
    margin-top: 1em;
}

#tool_bmi details>div,
#tool_bmi .bmi-edge-details>div {
    background-color: transparent;
    border-left: 0.2em solid #AEB7BD;
    padding-left: 0.65em;
    line-height: 1.65em;
    box-sizing: border-box;
    font-size: 1.2em;
}

#tool_bmi details>div>div,
#tool_bmi .bmi-edge-details>div>div {
    padding: 1.5em 0.75em 1.5em 0em;
}

#tool_bmi .bmi-zero-height {
    overflow: hidden;
    height: 0;
}

#tool_bmi details summary::-webkit-details-marker {
    margin-top: 0.5em;
}

#tool_bmi details>div p,
#tool_bmi details>div li,
#tool_bmi .bmi-warning li,
#tool_bmi .bmi-warning p,
#tool_bmi .bmi-edge-details>div p,
#tool_bmi .bmi-edge-details>div li,
#tool_bmi .bmi-warning li,
#tool_bmi .bmi-warning p {
    margin-bottom: 0.25em;
}

#antbits-bmi-results_what {
    background-color: #D9DDE0;
    padding: 0em 0em 0em 0em;
    margin: 1.875em 0em 2.2em 0em !important;
    min-height: 4em;
}

#tool_bmi #antbits-bmi-results_what>div>p,
#tool_bmi #antbits-bmi-results_what>div>ul {
    font-size: 1em;
    margin-bottom: 1em;
}

#tool_bmi #antbits-bmi-results_what>div>p:last-of-type {
    margin-bottom: 0em;
}

#antbits-bmi-results_what summary,
#antbits-bmi-results_what .bmi-edge-summary {
    display: block;
    padding: 0.6em 0.75em 0.6em 0.75em;
    margin: 0em 0em 0em 0em;
    font-size: 1.5em;
    font-weight: 600;
    color: #212B32;
    background-image: url(../images/plus.png);
    background-repeat: no-repeat;
    background-position: calc(100% - 10px) 55%;
    background-size: 30px 30px;
    text-decoration: none !important;
    background-color: #f0f4f5;
    border-bottom: 0.2em solid #D9DDE0;
    position: absolute;
    left: 0;
    right: 0;
}

#antbits-bmi-results_what.bmi-open summary,
#antbits-bmi-results_what.bmi-open .bmi-edge-summary {
    background-image: url(../images/minus.png);
    background-color: #D9DDE0;
}

#antbits-bmi-results_what .bmi-edge-summary::before,
#antbits-bmi-results_what .bmi-open .bmi-edge-summary::before {
    content: "";
}

#antbits-bmi-results_what summary::-webkit-details-marker {
    display: none;
}

#antbits-bmi-results_what summary:hover {
    background-color: #D9DDE0;
    text-decoration: underline !important;
    color: #212B32 !important;
    border-bottom: 0.2em solid #D9DDE0;
    margin: 0em 0em -1em 0em;
}

#antbits-bmi-results_what summary:focus {
    background-color: #FFEB3B;
    border-bottom: 0.2em solid #212B32;
    margin: 0em 0em -0.8em 0em;
}

.antbits-bmi-selected {
    background-image: url(../images/minus.png) !important;
    border-bottom: 0.2em solid #212B32;
}

#antbits-bmi-results_what>div {
    padding: 3.25em 0.8em 1.25em 0.8em;
    margin: 0em 0.2em 0em 0.2em;
    background-color: #FFF !important;
    font-size: 1.125em;
    line-height: 1.75em;
    border-left: none !important;
    border-bottom: 0.2em solid #D9DDE0;
    font-weight: normal;
}

#antbits-bmi-results_what ol,
#antbits-bmi-results_what ul {
    font-size: 1em;
    line-height: 1.75em;
    margin-top: 1.5em;
    padding-left: 2em;
}

#antbits-bmi-results_what>div li {
    margin: 0.625em 0em 0.625em -0.75em;
    padding: 0em 0em 0em 0em;
    font-size: 1em;
    line-height: 1.75em;
}

#tool_bmi .fieldset_legend {
    width: 100%;
}

#tool_bmi .bmi-dormant {
    opacity: 0;
    position: absolute;
    left: 0;
    right: 0;
    visibility: visible;
}

#tool_bmi .bmi-hidden {
    display: none;
}

#tool_bmi .bmi-locked input {
    pointer-events: none !important;
    box-shadow: none !important;
    outline: none !important;
}

#tool_bmi .bmi-locked input:hover,
#tool_bmi .bmi-locked input:focus,
#tool_bmi .bmi-locked label:hover,
#tool_bmi .bmi-locked label:focus {
    pointer-events: none !important;
    box-shadow: none !important;
    outline: none !important;
}

#tool_bmi .antbits-bmi-form_section_units:hover,
#tool_bmi .antbits-bmi-dl_launch:hover,
#antbits-bmi-reset_btn:hover,
#antbits-bmi-back_btn:hover,
#antbits-bmi-validate>div>button:hover>span,
#antbits-bmi-results_content>div>a:hover,
#tool_bmi #antbits-bmi-results_what>div button:hover,
#antbits-bmi-results_what>div a:hover {
    color: #7C2855 !important;
    background-color: transparent !important;
    text-decoration: none;
}

#tool_bmi .antbits-bmi-form_section_units:focus,
#tool_bmi .antbits-bmi-dl_launch:focus,
#antbits-bmi-reset_btn:focus,
#antbits-bmi-back_btn:focus,
#antbits-bmi-validate>div>button:focus>span,
#antbits-bmi-results_content>div>a:focus,
#antbits-bmi-results_what>div button:focus,
#antbits-bmi-results_what>div a:focus {
    color: #212B32 !important;
    background-color: #ffeb3b !important;
    border-bottom: solid 0.15em #212B32;
    text-decoration: none !important;
    opacity: 1 !important;
}

@media all and (min-width: 630px) {
    #tool_bmi {
        min-width: 630px;
    }
}

@media all and (max-width: 600px) {
    #tool_bmi {
        width: auto;
    }
    #antbits-bmi-tabgroup button:hover,
    #antbits-bmi-tabgroup button:focus {
        text-decoration: none;
    }
    #antbits-bmi-main a,
    #antbits-bmi-main button {
        -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    }
    .antbits-bmi-form_section_units {
        top: -1.5em;
        padding: 0;
    }
    .antbits-bmi-form_alert .antbits-bmi-form_section_units {
        top: -4.3em;
    }
    #antbits-bmi-main {
        border-top: none;
        border-left: none;
        border-right: none;
        border-bottom: solid 6px #005eb8;
    }
    .antbits-bmi-form_section_layer>div,
    .antbits-bmi-form_section_inner>div {
        width: calc(50% - 0.5em);
    }
    .antbits-bmi-form_section_layer>div:last-of-type {
        left: 50%;
    }
    .antbits-bmi-form_section_layer>div:first-of-type {
        left: 0%;
    }
    .antbits-bmi-page {
        padding: 0.75em 0.5em 1.625em 0.5em;
    }
    .antbits-bmi-section_alert {
        left: -10px;
    }
    #antbits-bmi-results_what>button {
        font-size: 1.375em;
        padding: 1em 1em 1em 1em;
    }
    #antbits-bmi-results_content {
        white-space: normal;
    }
    #antbits-bmi-results_content>div {
        width: auto;
        display: block;
        border: none !important;
        margin-bottom: 20px;
    }
    #antbits-bmi-preload {
        outline: 10px solid #FFF;
    }
    #tool_bmi .antbits-bmi-results_content_end {
        padding-bottom: 0 !important;
        margin-bottom: -1em !important;
    }
}

@media all and (max-width: 480px) {
    #tool_bmi #antbits-bmi-results_info {
        padding: 0em 0.75em 1em 0.75em;
    }
    #tool_bmi #antbits-bmi-results_what>div {
        padding-left: 0.4em;
        padding-right: 0.4em;
        padding-bottom: 1em;
    }
    #tool_bmi #antbits-bmi-results_what>summary {
        padding: 0.7em 0.5em 0.7em 0.5em;
    }
}

@media all and (max-width: 380px) {
    .antbits-bmi-form_section_layer>div,
    .antbits-bmi-form_section_inner>div {
        min-width: 4em;
    }
    .antbits-bmi-form_section_layer>div,
    .antbits-bmi-form_section_inner>div:last-of-type {
        min-width: 6em;
    }
    #tool_bmi #antbits-bmi-results_what summary,
    #tool_bmi #antbits-bmi-results_what .bmi-edge-summary {
        font-size: 1.4em;
        line-height: 1.5em;
    }
}

@media all and (max-width: 340px) {
    #tool_bmi #antbits-bmi-results_what summary,
    #tool_bmi #antbits-bmi-results_what .bmi-edge-summary {
        font-size: 1.3em;
        line-height: 1.65em;
    }
}

@media all and (max-width: 300px) {
    #tool_bmi #antbits-bmi-results_what summary,
    #tool_bmi #antbits-bmi-results_what .bmi-edge-summary {
        font-size: 1.2em;
        line-height: 1.75em;
    }
}

@media all and (max-width: 280px) {
    #tool_bmi #antbits-bmi-results_what summary,
    #tool_bmi #antbits-bmi-results_what .bmi-edge-summary {
        font-size: 1.1em;
        line-height: 1.85em;
    }
}

@media all and (-ms-high-contrast:none) {
    *::-ms-backdrop,
    .antbits-bmi-page {}
    *::-ms-backdrop,
    #antbits-bmi-back_btn {}
    *::-ms-backdrop,
    #antbits-bmi-back_btn:focus {}
    *::-ms-backdrop,
    #antbits-bmi-back_btn:hover {}
}